<template>
  <div>
    <div class="text-center pt-2 relative logoAndVersion">
      <i18next tag="div" path="appVersion" class="caption line-height-1 pr-1 pb-1 app-version" v-if="appVersion">{{appVersion}}</i18next>
    </div>
    <slot name="titlebar">
      <v-subheader class="title-bar" :class="$vuetify.theme.isDark || $route.name === ROUTES.inputTimes.name ? 'elevation-0' : 'elevation-1'">
        <v-btn text color="hamstudyBlue" v-if="routeFrom[0]" :to="{ name: routeFrom[0], query: routeFrom[1] ? {routeFrom: routeFrom.slice(1)} : {} }" class="pl-0 ml-n2 my-0 back-btn no-min-width">
          <v-icon>chevron_left</v-icon>
          <i18next :path="'tabs.' + routeFrom[0]"></i18next>
        </v-btn>
        <slot name="title">
          <StationPicker v-if="!routeFrom[0]"/>
        </slot>
        <v-flex/>
        <div class="flex-shrink-0">
          <slot name="actions-items"/>
        </div>
        <slot name="settings">
          <v-menu bottom left offset-y :close-on-content-click="false">
            <template v-slot:activator="{ on, attrs }">
              <slot name="activator" v-bind="{ on, attrs }">
                <v-btn text icon v-on="on" v-bind="attrs">
                  <v-icon>settings</v-icon>
                </v-btn>
              </slot>
            </template>

            <v-list :color="$vuetify.theme.isDark ? 'black' : ''">
              <v-list-item>
                <i18next class="pr-4" path="settings.darkMode"></i18next>
                <v-spacer/>
                <v-switch class="mt-0" hide-details color="hamstudyBlue" v-model="darkMode"></v-switch>
              </v-list-item>
              <slot name="settings-items"/>
            </v-list>
          </v-menu>
        </slot>
      </v-subheader>
    </slot>
    <div class="titlebar-padding logoAndVersion-padding">
      <slot/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Get, Sync } from 'vuex-pathify';
import { Station } from '@/models/station';
import { ROUTES } from '@/router/routes';
import StationPicker from '@/components/common/StationPicker.vue';

@Component({
  components: {
    StationPicker,
  },
})
export default class TitleBar extends Vue {
  ROUTES = ROUTES;

  get appVersion() {
    let version = this.$store.state.version;
    return version;
  }

  get routeFrom() {
    const routeFrom = this.$route.query.routeFrom;
    return Array.isArray(routeFrom) ? routeFrom : [routeFrom];
  }

  @Sync('settings/DARK_MODE')
  darkMode!: import('@/store/settings/module').SettingsState['DARK_MODE'];

  @Get('station/station')
  curStation!: Station;
}
</script>

<style lang="scss" scoped>
$titleBarHeight: 43px;
.theme--dark.title-bar { background-color: #424242; color: #FFF; }
.theme--light.title-bar { background-color: #FFF; color: #000; }
.titlebar-padding { padding-top: $titleBarHeight; }
.title-bar {
  flex-shrink: 0; height: #{$titleBarHeight}; font-size: 18px; font-weight: 500;
  position: fixed; top: 0; top: env(safe-area-inset-top); left: 0; right: 0; z-index: 1;
}
.back-btn { line-height: 24px; text-transform: initial; }
.theme--dark.back-btn:before { background: transparent; }
.float-right { float: right; }
.bottom-in-the-background { position: absolute; bottom: 0; width: 100%; }
.theme--dark {
  #SignalStuff { fill: white; }
}
.line-height-1 { line-height: 1; }
.logoAndVersion { position: absolute; bottom: 0; width: 100%; }
.logoAndVersion-padding { padding-bottom: 20px; }
</style>