<template>
  <v-menu bottom left offset-y :close-on-content-click="false">
    <template v-slot:activator="{ on, attrs }">
      <slot name="activator" v-bind="{ on, attrs }">
        <v-btn text icon v-on="on" v-bind="attrs">
          <v-icon>settings</v-icon>
        </v-btn>
      </slot>
    </template>

    <v-list :color="$vuetify.theme.isDark ? 'black' : ''">
      <v-list-item>
        <i18next class="pr-4" path="settings.darkMode"></i18next>
        <v-spacer/>
        <v-switch class="mt-0" hide-details color="hamstudyBlue" v-model="darkMode"></v-switch>
      </v-list-item>
      <v-divider/>
      <v-list-item class="match-title-bg">
        <i18next class="pr-4" path="settings.useDialpadArrangement"></i18next>
        <v-spacer/>
        <v-switch class="mt-0" hide-details color="hamstudyBlue" v-model="useDialpadArrangement"></v-switch>
      </v-list-item>
      <v-divider/>
      <v-list-item class="match-title-bg" :disabled="skipTimeIn">
        <i18next class="pr-8" path="settings.skipTimeOut"></i18next>
        <v-spacer/>
        <v-switch class="mt-0" hide-details color="hamstudyBlue" v-model="skipTimeOut"></v-switch>
      </v-list-item>
      <v-divider/>
      <v-list-item class="match-title-bg" :disabled="skipTimeOut">
        <i18next class="pr-8" path="settings.skipTimeIn"></i18next>
        <v-spacer/>
        <v-switch class="mt-0" hide-details color="hamstudyBlue" v-model="skipTimeIn"></v-switch>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Call, Sync } from 'vuex-pathify';

@Component
export default class InputSettings extends Vue {
  $store!: typeof import('@/store').default;
  @Call('settings/setUseDialpadArrangement')
  setNumbpad!: import('@/store/settings/module').Actions['setUseDialpadArrangement'];
  get useDialpadArrangement() {
    return this.$store.state.settings.useDialpadArrangement === 'dialpad';
  }
  set useDialpadArrangement(bool: boolean) {
    this.setNumbpad(bool ? 'dialpad' : 'keypad');
  }

  @Sync('settings/DARK_MODE')
  darkMode!: import('@/store/settings/module').SettingsState['DARK_MODE'];

  @Sync('settings/skipTimeIn')
  skipTimeIn!: import('@/store/settings/module').SettingsState['skipTimeIn'];
  @Sync('settings/skipTimeOut')
  skipTimeOut!: import('@/store/settings/module').SettingsState['skipTimeOut'];

}
</script>