<template>
  <div class="keypad-container">
    <div class="keypad keypad-bg" :class="{'dialpad': numpadState === 'dialpad'}"> 
      <v-btn depressed fab text class="btn-0" @click="numberPressed(0)" v-t="'buttons.0'"></v-btn>
      <v-btn depressed fab text class="btn-1" @click="numberPressed(1)" v-t="'buttons.1'"></v-btn>
      <v-btn depressed fab text class="btn-2" @click="numberPressed(2)" v-t="'buttons.2'"></v-btn>
      <v-btn depressed fab text class="btn-3" @click="numberPressed(3)" v-t="'buttons.3'"></v-btn>
      <v-btn depressed fab text class="btn-4" @click="numberPressed(4)" v-t="'buttons.4'"></v-btn>
      <v-btn depressed fab text class="btn-5" @click="numberPressed(5)" v-t="'buttons.5'"></v-btn>
      <v-btn depressed fab text class="btn-6" @click="numberPressed(6)" v-t="'buttons.6'"></v-btn>
      <v-btn depressed fab text class="btn-7" @click="numberPressed(7)" v-t="'buttons.7'"></v-btn>
      <v-btn depressed fab text class="btn-8" @click="numberPressed(8)" v-t="'buttons.8'"></v-btn>
      <v-btn depressed fab text class="btn-9" @click="numberPressed(9)" v-t="'buttons.9'"></v-btn>

      <!-- Backspace -->
      <v-btn depressed fab text class="btn-backspace"
        @click="backspacePressed()"
        :disabled="buttonsState.BACKSPACE === false"
      >
        <v-icon>backspace</v-icon>
      </v-btn>

      <!-- Repeat Last -->
      <v-btn depressed fab text class="btn-repeat initial-font"
        @click="repeatPressed()"
        :disabled="buttonsState.REPEAT === false
                || lastInput === null
                || !(runnerNumber || runner)
                || focus === 'runnerNumber'
        "
      ><i18next path="buttons.repeatLast" class="whitespace-normal"></i18next></v-btn>

      <!-- Time In -->
      <v-btn depressed fab text class="btn-time-in initial-font"
        @click="autoTimeIn()"
        :disabled="buttonsState.IN === false
                || focus !== 'runnerNumber'
                || (!runnerNumber && !runner)
                || (entry && !!entry.timeIn)
                || (entry && !!entry.timeOut)
        "
        v-t="'buttons.autoTimeIn'"
      ></v-btn>

      <!-- Time Out -->
      <v-btn depressed fab text class="btn-time-out initial-font"
        @click="autoTimeOut()"
        v-show="focus === 'runnerNumber'"
        :disabled="buttonsState.OUT === false
                || focus !== 'runnerNumber'
                || (!runnerNumber && !runner)
                || (entry && !!entry.timeOut)
        "
        v-t="'buttons.autoTimeOut'"
        style="min-width: 67px"
      ></v-btn>

      <!-- Now -->
      <v-btn depressed fab text class="btn-now initial-font"
        @click.stop="setTimeToNow()"
        v-show="focus === 'timeIn' || focus === 'timeOut'"
        :disabled="buttonsState.NOW === false
                || (!runnerNumber && !runner)
                || (focus === 'timeIn' && runner && !!timeIn)
                || (focus === 'timeOut' && runner && !!timeOut)
        "
        v-t="'buttons.now'"
      ></v-btn>

      <!-- Add/Next/Done -->
      <v-btn depressed class="btn-next initial-font disabled"
        @click="nextPressed()"
        :disabled="buttonsState.NEXT === false || (!runnerNumber && !runner)"
        :text="buttonsState.NEXT === false || (!runnerNumber && !runner)"
      ><i18next tag="span" :path="!runner ? 'buttons.add' : focus === 'runnerNumber' ? 'buttons.next' : focus === 'timeIn' ? 'buttons.saveTimeIn' : focus === 'timeOut' ? 'buttons.saveTimeOut' : 'buttons.done'" class="whitespace-normal"></i18next></v-btn>

      <!-- Cancel -->
      <v-btn depressed fab color="secondary" class="btn-cancel initial-font"
        v-if="focus === 'timeIn' || focus === 'timeOut'"
        @click.stop="cancelPressed()"
        :disabled="buttonsState.CANCEL === false || !(runnerNumber || runner)"
        v-t="'buttons.cancel'"
      ></v-btn>

    </div>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Call, Get } from 'vuex-pathify';
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
import { Station } from '@/models/station';
import { normalizeTimeStr } from '@/plugins/timeFilter';
import * as I from '@/store/inputTimes/module';

@Component
export default class KeypadComponent extends Vue {
  // STATE
  @Get('station/station')
  curStation!: Station;

  @Get('settings/useDialpadArrangement')
  private numpadState!: 'keypad' | 'dialpad';

  @Get('settings/skipTimeIn')
  private skipTimeIn!: boolean;

  @Get('settings/skipTimeOut')
  private skipTimeOut!: boolean;

  @Get('inputTimes/focus')
  private focus!: "runnerNumber" | "timeIn" | "timeOut";

  @Get('participants/focusedEntry')
  private entry!: Entry | null;

  @Get('participants/focusedParticipant')
  private runner!: Participant | null;

  @Get('participants/bibNumber')
  private runnerNumber!: number | null;

  @Get('inputTimes/timeIn')
  private timeIn!: { number: number; isValid: boolean } | null;

  @Get('inputTimes/timeInDay')
  private timeInDay!: string;

  @Get('inputTimes/timeOut')
  private timeOut!: { number: number; isValid: boolean } | null;

  @Get('inputTimes/timeOutDay')
  private timeOutDay!: string;


  @Call('inputTimes/setFocus')
  private setFocus!: (payload: "runnerNumber" | "timeIn" | "timeOut") => Promise<void>;

  @Call('inputTimes/setTimeIn')
  private storeTimeIn!: (payload: string | number | Date | null) => Promise<void>;

  @Call('inputTimes/setTimeInDay')
  private storeTimeInDay!: (payload: Date | string) => Promise<void>;

  @Call('inputTimes/setTimeOut')
  private storeTimeOut!: (payload: string | number | Date | null) => Promise<void>;

  @Call('inputTimes/setTimeOutDay')
  private storeTimeOutDay!: (payload: Date | string) => Promise<void>;

  @Call('participants/setBibNumber')
  private setRunnerNumber!: (bibNumber: number | null) => Promise<void>;

  @Call('participants/findAndUpdateParticipant')
  private updateRunner!: (bibNumber: number | null) => Promise<void>;

  @Call('participants/addParticipant')
  private addRunner!: (bibNumber: number | null) => Promise<void>;

  @Call('participants/saveTimeToParticipant')
  private saveTimeToRunner!: (payload: { participant: Participant; entry: Entry | null; timeIn?: Date | null; timeOut?: Date | null; }) => Promise<void>;


  private buttonsState: {
    BACKSPACE?: boolean;
    REPEAT?: boolean;
    NEXT?: boolean;
    NOW?: boolean;
    CANCEL?: boolean;
    IN?: boolean;
    OUT?: boolean;
  } = {};

  private lastInput: Date | null = null;
  private setLastInput(x: Date) {
    this.lastInput = x;
  }



  private created() {
    this.setRunnerNumber(null);
    document.addEventListener('keydown', this.handleKeyboardEvents);
  }
  private beforeDestroy() {
    document.removeEventListener('keydown', this.handleKeyboardEvents);
  }

  private handleKeyboardEvents(evt: KeyboardEvent) {
    // TODO add shortcuts for in (i?) out (o?) and repeat last (l?)
    if (evt.keyCode === 27) { return this.cancelPressed(); } // Escape key pressed
    if (evt.keyCode === 13) { return this.nextPressed(); } // Enter/Return key pressed
    if (evt.keyCode === 8) { return this.backspacePressed(); }
    if (evt.keyCode === 82) { return this.repeatPressed(); }
    if (evt.code === 'KeyI') { return this.autoTimeIn(); }
    if (evt.code === 'KeyO') { return this.autoTimeOut(); }
    if (/[0-9]/.test(evt.key)) {
      return this.numberPressed(Number(evt.key));
    }
  }

  private numberPressed(num: number) {
    if (isNaN(num)) { return; }
    if (this.focus === 'runnerNumber') {
      this.updateRunner(Number(`${this.runnerNumber || ''}${num}`));
    } else if (this.focus === 'timeIn') {
      this.storeTimeIn(Number(`${this.timeIn && this.timeIn.number || ''}${num}`));
      if (!this.timeInDay) { this.storeTimeInDay(new Date()); }
      this.buttonsState.NEXT = this.timeIn ? this.timeIn.isValid : (void 0);
    } else if (this.focus === 'timeOut') {
      this.storeTimeOut(Number(`${this.timeOut && this.timeOut.number || ''}${num}`));
      if (!this.timeOutDay) { this.storeTimeOutDay(new Date()); }
      this.buttonsState.NEXT = this.timeOut ? this.timeOut.isValid : (void 0);
    }
  }
  private backspacePressed() {
    const curNumStr = String(this.focus === 'runnerNumber' ? this.runnerNumber || '' : this.focus === 'timeIn' ? (this.timeIn && this.timeIn.number || '') : (this.timeOut && this.timeOut.number || ''));
    const newNumStr = curNumStr.substr(0, curNumStr.length - 1);
    if (this.focus === 'runnerNumber') {
      this.updateRunner(newNumStr.length ? Number(newNumStr) : null);
    }
    if (this.focus === 'timeIn') {
      this.storeTimeIn(newNumStr.length ? Number(newNumStr) : null);
      this.buttonsState.NEXT = this.timeIn ? this.timeIn.isValid : (void 0);
    }
    if (this.focus === 'timeOut') {
      this.storeTimeOut(newNumStr.length ? Number(newNumStr) : null);
      this.buttonsState.NEXT = this.timeOut ? this.timeOut.isValid : (void 0);
    }
  }

  /* Auto Time in */
  private async autoTimeIn() {
    await this.setTimeIn();

    // remove runner number so we can start typing in a new number
    // but we don't update the runner so the runner details are still shown
    this.setRunnerNumber(null);
  }

  /* Auto Time out */
  private async autoTimeOut() {
    await this.setTimeOut();

    // remove runner number so we can start typing in a new number
    // but we don't update the runner so the runner details are still shown
    this.setRunnerNumber(null);
  }

  /* Repeat */
  private async repeatPressed() {
    if (this.lastInput === null) { return; }
    if (this.focus === 'timeIn') {
      this.storeTimeIn(this.lastInput);
      this.buttonsState.NEXT = this.timeIn ? this.timeIn.isValid : (void 0);
    } else if (this.focus === 'timeOut') {
      this.storeTimeOut(this.lastInput);
      this.buttonsState.NEXT = this.timeOut ? this.timeOut.isValid : (void 0);
    }
  }

  private setTimeToNow() {
    if (this.focus === 'timeIn') {
      this.storeTimeIn(new Date());
      this.buttonsState.NEXT = this.timeIn ? this.timeIn.isValid : (void 0);
    } else if (this.focus === 'timeOut') {
      this.storeTimeOut(new Date());
      this.buttonsState.NEXT = this.timeOut ? this.timeOut.isValid : (void 0);
    }
  }

  private async setTimeIn(timeIn = new Date() as Date | number | null) {
    let participant = this.runner;
    let entry = this.entry;
    if (!participant) {
      await this.addRunner(Number(this.runnerNumber));
      await this.setTimeIn(timeIn);
      return;
    }
    if (typeof timeIn === 'number') {
      let timeStr = normalizeTimeStr(timeIn);
      timeIn = new Date(`${this.timeInDay || new Date().toLocaleString()} ${timeStr}`);
    }
    if (timeIn !== null && normalizeTimeStr(this.entry?.timeIn || null) !== normalizeTimeStr(timeIn)) {
      this.setLastInput(timeIn);
    }
    const currentTimeInOnEntry = this.entry?.timeIn?.getTime();
    if (timeIn?.getTime() !== (currentTimeInOnEntry && currentTimeInOnEntry - (currentTimeInOnEntry % 6E4))) {
      await this.saveTimeToRunner({participant, entry, timeIn});
      await this.updateRunner(participant.bibNumber);
    }
    this.storeTimeIn(null);
  }

  private async setTimeOut(timeOut = new Date() as Date | number | null) {
    let participant = this.runner;
    let entry = this.entry;
    if (!participant) {
      await this.addRunner(Number(this.runnerNumber));
      await this.setTimeOut(timeOut);
      return;
    }
    if (typeof timeOut === 'number') {
      let timeStr = normalizeTimeStr(timeOut);
      timeOut = new Date(`${this.timeOutDay || new Date().toLocaleString()} ${timeStr}`);
    }
    if (timeOut !== null && normalizeTimeStr(this.entry?.timeOut || null) !== normalizeTimeStr(timeOut)) {
      this.setLastInput(timeOut);
    }
    const currentTimeOutOnEntry = this.entry?.timeOut?.getTime();
    if (timeOut?.getTime() !== (currentTimeOutOnEntry && currentTimeOutOnEntry - (currentTimeOutOnEntry % 6E4))) {
      await this.saveTimeToRunner({participant, entry, timeOut});
      await this.updateRunner(participant.bibNumber);
    }
    this.storeTimeOut(null);
  }

  /* Cancel */
  private cancelPressed() {
    this.setRunnerNumber(null);
    this.focusRunnerNumber();
  }

  /* Next */
  private async nextPressed() {
    let runner = this.runner;
    if (!runner) {
      if (!this.runnerNumber) { return; }
      await this.addRunner(Number(this.runnerNumber));
      this.nextPressed();
      return;
    }

    if (this.focus === 'runnerNumber') {
      // if our focus is currently on the runnerNumber then lets focus on time in
      if (this.skipTimeIn) {
        await this.focusTimeOut();
      } else {
        await this.focusTimeIn();
      }
    } else if (this.focus === 'timeIn') {
      if (this.timeIn !== null && !this.timeIn.isValid) {
        return;
      }
      await this.setTimeIn(this.timeIn === null ? null : this.timeIn.number);
      if (this.skipTimeOut) {
        this.focusRunnerNumber();
        // remove runner number so we can start typing in a new number
        // but we don't update the runner so the runner details are still shown
        this.setRunnerNumber(null);
      } else {
        await this.focusTimeOut();
      }
    } else if (this.focus === 'timeOut') {
      if (this.timeOut !== null && !this.timeOut.isValid) {
        return;
      }
      await this.setTimeOut(this.timeOut === null ? null : this.timeOut.number);
      this.focusRunnerNumber();

      // remove runner number so we can start typing in a new number
      // but we don't update the runner so the runner details are still shown
      this.setRunnerNumber(null);
    }

    const routeFrom = Array.isArray(this.$route.query.routeFrom) ? this.$route.query.routeFrom : [this.$route.query.routeFrom];
    if (routeFrom[0]) {
      this.$router.push({ name: routeFrom[0], query: routeFrom[1] ? {routeFrom: routeFrom.slice(1)} : {} });
    }
  }
  private focusRunnerNumber() {
    this.setFocus('runnerNumber');
    this.storeTimeIn(null);
    this.storeTimeOut(null);
    this.buttonsState.NEXT = (void 0);
  }
  private async focusTimeIn() {
    if (!this.runner) { return this.focusRunnerNumber(); }
    let rTimeIn = this.entry?.timeIn;
    if (rTimeIn) {
      this.storeTimeIn(rTimeIn);
      this.storeTimeInDay(rTimeIn);
    }
    this.setFocus('timeIn');
  }
  private async focusTimeOut() {
    if (!this.runner) { return this.focusRunnerNumber(); }
    let rTimeOut = this.entry?.timeOut;
    if (rTimeOut) {
      this.storeTimeOut(rTimeOut);
      this.storeTimeOutDay(rTimeOut);
    }
    this.setFocus('timeOut');
  }
}
</script>


<style lang="scss" scoped>
.whitespace-normal { white-space: normal; }
.btn-next ::v-deep.v-btn__content { max-width: 100%; }
.keypad-container {
  position: relative; flex: 1 0;
  $sm: 600px;
  @media only screen and (max-width: $sm) {
    height: 100%; min-width: 100%;
  }
  @media only screen and (min-width: $sm) {
    max-width: 400px;
  }
}
.theme--dark .keypad-bg {
  background-color: #303030;
  button.v-btn { background-color: transparent; }
}
.theme--light .keypad-bg {
  background-color: #fff;
  button.v-btn { background-color: transparent; }
}
.keypad {
  text-align: center; position: absolute; bottom: 0; right: 0; padding: 50% 0; width: 100%;
  button {
    min-width: 0;
    font-size: 30px; margin: 0; outline: none; white-space: unset;
    height: 19%; width: 19%;
    text-transform: none;
    ::v-deep.v-btn__content { max-width: 100%; }
    &, &:active, &:focus, &:hover { position: absolute; }
    &.initial-font { font-size: initial; }

    &.activated { opacity: 0.5; }

    &:hover:before, &:focus:before, &.disabled { background-color: transparent !important; }
    
    &.btn-7 { bottom: 78%; right: 78%; }
    &.btn-8 { bottom: 78%; right: 53%; }
    &.btn-9 { bottom: 78%; right: 28%; }
    &.btn-backspace { bottom: 78%; right: 3%; }
    
    &.btn-4 { bottom: 53%; right: 78%; }
    &.btn-5 { bottom: 53%; right: 53%; }
    &.btn-6 { bottom: 53%; right: 28%; }
    &.btn-repeat { bottom: 53%; right: 3%; }
    
    &.btn-1 { bottom: 28%; right: 78%; }
    &.btn-2 { bottom: 28%; right: 53%; }
    &.btn-3 { bottom: 28%; right: 28%; }
    
    &.btn-cancel { bottom: 3%; right: 78%; }
    &.btn-time-in { bottom: 3%; right: 78%; }
    &.btn-0 { bottom: 3%; right: 53%; }
    &.btn-time-out { bottom: 3%; right: 28%; }
    &.btn-now { bottom: 3%; right: 28%; }
    &.btn-next { bottom: 3%; right: 3%; height: 44%; }
  }
  &.dialpad button {
    &.btn-1 { bottom: 78%; right: 78%; }
    &.btn-2 { bottom: 78%; right: 53%; }
    &.btn-3 { bottom: 78%; right: 28%; }
    
    &.btn-4 { bottom: 53%; right: 78%; }
    &.btn-5 { bottom: 53%; right: 53%; }
    &.btn-6 { bottom: 53%; right: 28%; }
    
    &.btn-7 { bottom: 28%; right: 78%; }
    &.btn-8 { bottom: 28%; right: 53%; }
    &.btn-9 { bottom: 28%; right: 28%; }
  }
}
</style>