<template>
  <v-dialog :value="open" @input="changed" max-width="400">
    <v-card>
      <v-card-title class="subheading break-word">
        {{$t(text.i18n, text.i18nData)}}
      </v-card-title>
      <v-card-actions>
        <v-spacer/>
        <v-btn color="hamstudyBlue" text @click.stop="resolve(false)">
          <i18next path="buttons.cancel"></i18next>
        </v-btn>
        <v-btn color="hamstudyBlue" text @click.stop="resolve(true)">
          <i18next :path="confirmBtnText"></i18next>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

@Component
export default class ConfirmDialog extends Vue {
  resp = false;

  @Prop({type: Boolean, required: true})
  open!: boolean;

  @Prop({type: String, required: true})
  confirmBtnText!: string;

  @Prop({type: Object, required: true})
  text!: {i18n: string; i18nData: any};

  @Emit('closed')
  resolve(value: boolean) {
    return value;
  }

  changed(value: boolean) {
    this.resolve(this.resp);
  }
}
</script>

<style scoped>
  .break-word { word-break: break-word; }
</style>