<template>
  <v-layout justify-center>
    <v-dialog v-model="dialog" max-width="600px">
      <template #activator="{ on }">
        <v-btn text icon color="primary" dark v-on="on">
          <v-icon>edit</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Edit Race Event</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Race name*" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Race ID" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

export default class EditDialog extends Vue {
  dialog = false;

  // @Prop()

}
</script>
