<template>
  <div class="marquee nowrap red clearfix">
    <span v-if="receiveService.recentBuffer" class="pull-right">{{receiveService.recentBuffer}}</span>
    <i18next v-else class="pl-4" path="transmit.listening"></i18next>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import receiveService from '@/services/receive.service';

@Component
export default class Marquee extends Vue {
  receiveService = receiveService;
}
</script>
