<template>
  <v-snackbar
    v-model="snack.open"
    :top="snack.top"
    :bottom="snack.bottom"
    :left="snack.left"
    :right="snack.right"
    :timeout="snack.timeout"
    color="hamstudyBlue"
  >
    <div v-if="snack.message">{{snack.message}}</div>
    <i18next :path="snack.i18next" v-else-if="snack.i18next"></i18next>
    <v-btn text color="white" v-if="snack.action" @click.stop="snack.action.callback">
      <span>{{snack.action.text}}</span>
    </v-btn>
    <v-btn text color="white" @click.stop="snack.open = false">
      <i18next path="buttons.close"></i18next>
    </v-btn>
  </v-snackbar>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import { Get } from 'vuex-pathify';
import { SNACKBAR } from '@/store/transmit/types';
import { RootState } from '@/store';

@Component
export default class Snackbar extends Vue {
  show = true;
  @Get('transmit/snackbar')
  snackbar!: SNACKBAR;

  snack = {
    open: false,
  };

  created() {
    this.$store.watch((state: RootState) => state.transmit.snackbar, () => {
      this.snack = Object.assign({
        open: this.snackbar && (!!this.snackbar.i18next || !!this.snackbar.message),
        bottom: false,
        left: false,
        right: true,
        top: true,
      }, this.$store.state.transmit.snackbar);
    });
  }

}
</script>