<template>
  <v-menu bottom left offset-y>
    <template v-slot:activator="{ on, attrs }">
      <div class="d-flex truncate" v-if="curStation" v-on="on" v-bind="attrs">
        <div class="d-flex truncate" v-if="curStation.name && curStation.name.trim()">
          <i18next tag="div" path="station.name_short" class="pr-1 flex-shrink-0">
            <span>{{curStation.stationNumberDisplayed && curStation.stationNumberDisplayed.trim() || curStation.stationNumber}}</span>
          </i18next>
          <div class="truncate">{{curStation.name}}</div>
        </div>
        <i18next tag="div" slot="title" path="titles.station" v-else class="truncate">{{curStation.stationNumberDisplayed || curStation.stationNumber}}</i18next>
        <v-icon>keyboard_arrow_down</v-icon>
      </div>
      <i18next :path="'titles.' + $route.name" v-else></i18next>
    </template>

    <v-list>
      <v-list-item :to="{name: ROUTES.raceEventPicker.name, query: {routeFrom: $route.name}}">
        <v-list-item-title class="hamstudyBlue--text">
          <div class="d-flex align-center">
            <i18next class="flex-grow-1" path="settings.pickEvent"></i18next>
            <v-spacer/>
            <v-icon class="hamstudyBlue--text">keyboard_arrow_right</v-icon>
          </div>
        </v-list-item-title>
      </v-list-item>
      <v-list-item v-for="(station, i) in stations" :key="i" @click="setStation(station)">
        <v-list-item-title>
          <span v-if="station.name && station.name.trim()">{{station.stationNumberDisplayed ? station.stationNumberDisplayed.trim() ? '(' + station.stationNumberDisplayed + ') ' : '' : '(' + station.stationNumber + ') '}}{{station.name}}{{station.distance ? ' - ' + station.distance : ''}}</span>
          <i18next tag="span" slot="title" path="titles.station" v-else>{{station.stationNumberDisplayed || station.stationNumber}}</i18next>
        </v-list-item-title>
      </v-list-item>
      <v-list-item :to="{name: ROUTES.stationPicker.name, query: {routeFrom: $route.name}}">
        <v-list-item-title class="hamstudyBlue--text">
          <v-icon class="mr-3 hamstudyBlue--text">add_business</v-icon>
          <i18next path="stationPicker.add"></i18next>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Get, Call } from 'vuex-pathify';
import { Station } from '@/models/station';
import { ROUTES } from '@/router/routes';

@Component
export default class StationPicker extends Vue {
  ROUTES = ROUTES;

  @Get('settings/raceEventId')
  eventId!: string;

  @Get('station/station')
  curStation!: Station | null;

  @Call('settings/setStation')
  setStationId!: (stationId: string) => Promise<void>;

  @Call('station/setStation')
  setStationInStore!: (station: Station) => Promise<void>;


  get routeFrom() {
    const routeFrom = this.$route.query.routeFrom;
    return Array.isArray(routeFrom) ? routeFrom[0] : routeFrom;
  }

  stations: Station[] = [];

  async created() {
    await this.getStations();
  }

  private async getStations() {
    this.stations = await Station.getStations(this.eventId);
    this.stations.sort((a,b) => a.stationNumber > b.stationNumber ? 1 : -1);
  }

  private setStation(station: Station | null) {
    this.setStationId(station && station.id || '');
    this.setStationInStore(station as any); // Could be null and I don't care
  }
}
</script>

<style scoped>
.max-100 { max-height: 100%; }
.v-menu__content { max-height: calc(100vh - 97px); }
</style>