<template>
  <v-bottom-navigation app :value="true" class="flex-shrink-0" color="hamstudyBlue">
    <v-btn text :value="ROUTES.inputTimes.name" @click="goTo(ROUTES.inputTimes.name)">
      <i18next path="tabs.inputTimes" tag="span"></i18next>
      <v-icon>edit</v-icon>
    </v-btn>

    <v-btn text :value="ROUTES.entries.name" @click="entiresClicked()">
      <i18next path="tabs.entries" tag="span"></i18next>
      <v-icon>content_paste</v-icon>
    </v-btn>

    <v-btn text :value="ROUTES.transmit.name" @click="goTo(ROUTES.transmit.name)">
      <i18next path="tabs.transmit" tag="span"></i18next>
      <v-icon>{{receiveService.hearing ? 'hearing' : 'speaker_phone'}}</v-icon>
    </v-btn>

    <v-btn text v-if="showGridTab" :value="ROUTES.grid.name" @click="goTo(ROUTES.grid.name)">
      <i18next path="tabs.grid" tag="span"></i18next>
      <v-icon>table_chart</v-icon>
    </v-btn>

  </v-bottom-navigation>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Get, Sync } from 'vuex-pathify';

import { Station } from '@/models/station';
import { ROUTES } from '@/router/routes';
import receiveService from '@/services/receive.service';

@Component
export default class TabsComponent extends Vue {
  receiveService = receiveService;
  ROUTES = ROUTES;

  @Sync('settings/showGrid')
  showGridTab!: boolean;

  @Get('settings/raceEventId')
  raceId!: string;

  @Get('station/station')
  station!: Station;

  entriesTapCount = 0;
  entriesLastTapTime = 0;
  goTo(routeName: string) {
    if (this.$route.name !== routeName) {
      this.$router.push({name: routeName});
    }
  }
  entiresClicked() {
    const now = Date.now();
    if (now - this.entriesLastTapTime > 1000) {
      this.entriesTapCount = 0;
    }
    this.entriesLastTapTime = now;
    this.entriesTapCount++;
    if (this.entriesTapCount >= 5) {
      if (this.$route.name !== ROUTES.grid.name) {
        if (!this.showGridTab) {
          this.$router.push({name: ROUTES.grid.name});
        }
        this.showGridTab = !this.showGridTab;
      }
    } else {
      this.goTo(ROUTES.entries.name!);
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn:before { content: none; }
.v-bottom-navigation {
  $padding: 8px;
  height: auto !important;
  padding-bottom: env(safe-area-inset-bottom);
  .v-btn { padding-top: $padding; padding-bottom: $padding; }
}
</style>
