<template>
  <Layout>
    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
    <div slot="actions-items" v-if="!dataTable.selected.length">
      <v-btn text icon @click.stop="transmission.stop()" v-if="transmission && transmission.transmitting">
        <v-icon>stop</v-icon>
      </v-btn>
    </div>
    <div slot="actions-items" v-else>
      <v-btn text icon @click.stop="deleteEntries(dataTable.selected)">
        <v-icon>delete</v-icon>
      </v-btn>
      <v-btn text icon :to="{ name: 'runnerDetails', params: {bibNumber: dataTable.selected[0].bibNumber}, query: { routeFrom: $route.name}}" v-if="dataTable.selected.length === 1">
        <v-icon>info</v-icon>
      </v-btn>
      <v-btn text icon @click.stop="openDnfDialog(dataTable.selected)" v-if="curStation.stationNumber === 0">
        <i18next path="buttons.dns"></i18next>
      </v-btn>
      <v-btn text icon @click.stop="transmission.stop()" v-if="transmission && transmission.transmitting">
        <v-icon>stop</v-icon>
      </v-btn>
      <v-btn text icon @click.stop="transmit" v-else>
        <v-icon>speaker_phone</v-icon>
      </v-btn>
    </div>

    <div class="d-flex">
      <v-flex/>
      <v-menu offset-y>
        <template #activator="{ on }">
          <v-btn text v-on="on" class="ma-0" style="margin-right: -12px !important">
            <i18next class="pr-1" :path="'filter.' + listFilter"></i18next>
            <v-icon>filter_list</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-for="filter in FILTER_RUNNERS_TO" :key="filter" @click="filterBy(filter)">
            <v-list-item-content>
              <v-list-item-title>
                <i18next :path="'filter.' + filter"/>
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action v-if="listFilter === filter">
              <v-icon>check</v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

    <i18next tag="div" path="station.distance" class="px-4 py-2" v-if="curStation.distance">{{curStation.distance}}</i18next>
    <v-data-table class="data-table elevation-1"
      v-model="dataTable.selected"
      :headers="$vuetify.breakpoint.smAndUp ? headers : smHeaders"
      :items="dataTable.items"
      :sort-by="sortBy"
      :sort-desc="descending"
      item-key="bibNumber"
      must-sort
      :mobile-breakpoint="0"
      show-select
      :items-per-page="20"
      :footer-props="{'items-per-page-options': [5, 10, 20, -1]}"
    >
      <template #item.timeIn="{ item }">
        <i18next path="runner.dns" class="pl-0" v-if="typeof item.runner.dnfStation === 'number' && item.runner.dnfStation === 0"/>
        <i18next path="runner.dropped" class="pl-0" v-else-if="typeof item.runner.dnfStation === 'number' && item.runner.dnfStation < curStation.stationNumber"/>
        <span v-else-if="item.entry.timeIn !== null" @click="editRunnerTimeIn(item)">
          <span class="nowrap">{{ item.entry.timeIn | time }}<v-icon class="pl-2" small>edit</v-icon></span>
        </span>
        <span v-else @click="setTimeIn(item)">
          <v-icon>add</v-icon>
        </span>
      </template>
      <template #item.timeOut="{ item }">
        <i18next path="runner.dns" class="pl-0" v-if="typeof item.runner.dnfStation === 'number' && item.runner.dnfStation === 0"/>
        <i18next path="runner.dropped" class="pl-0" v-else-if="typeof item.runner.dnfStation === 'number' && item.runner.dnfStation <= curStation.stationNumber"/>
        <span v-else-if="item.entry.timeOut !== null" @click="editRunnerTimeOut(item)">
          <span class="nowrap">{{ item.entry.timeOut | time }}<v-icon class="pl-2" small>edit</v-icon></span>
        </span>
        <span v-else @click="setTimeOut(item)">
          <v-icon>add</v-icon>
        </span>
      </template>
    </v-data-table>
    <!-- <div v-else>
      <v-subheader>
        <i18next path="runnersList.noData"></i18next>
      </v-subheader>
    </div> -->

    <v-dialog v-model="dnfDialog.open" max-width="400">
      <v-card>
        <v-card-title>
          <i18next class="headline" path="station.dnsDialogTitle"></i18next>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field :label="$t('station.dnsReason')" required v-model="dnfDialog.reason"></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="dnfDialog.open = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="dropRunners({reason: dnfDialog.reason, runners: dnfDialog.runners, station: curStation})"><i18next path="buttons.dns"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </Layout>
</template>

<script lang="ts">
import { Amp } from '@hamstudy/flamp';
import { Component, Vue } from 'vue-property-decorator';
import { Call, Get, Sync } from 'vuex-pathify';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import Layout from '../layouts/Main.vue';
import { FILTER_RUNNERS_TO } from '@/store/settings/types';
import { Actions as ParticipantActions } from '@/store/participants/module';
import { Participant } from '@/models/participant';
import { Entry } from '@/models/entry';
import { Station } from '@/models/station';
import { Transmission, runnersToFileStr } from '@/models/transmission';
import { getFilename } from '@/models/transmission';
import { ROUTES } from '../routes';

export interface IDataTableItem {
  bibNumber: number;
  runner: Participant;
  entry: Entry;
  timeIn: Date | null;
  timeOut: Date | null;
  modified: Date;
}

@Component({
  components: {
    ConfirmDialog,
    Layout,
  },
})
export default class StationView extends Vue {
  FILTER_RUNNERS_TO = FILTER_RUNNERS_TO;
  ROUTES = ROUTES;
  @Get('settings/raceEventId')
  eventId!: string;

  @Get('settings/callsign')
  fromCallsign!: string;

  @Sync('settings/runnerListFilter')
  listFilter!: FILTER_RUNNERS_TO;

  @Get('station/station')
  curStation!: Station;

  @Call('transmit/saveTransmission')
  private saveTransmission!: (payload: { amp: Amp; txOrRx: 'tx' | 'rx'; }) => Promise<void>;

  @Call('participants/setFocusedParticipant')
  private setFocusedRunner!: (participant: Participant) => Promise<void>;

  @Call('inputTimes/setFocus')
  private setInputFocus!: (payload: "runnerNumber" | "timeIn" | "timeOut") => Promise<void>;

  @Call('inputTimes/setTimeIn')
  private setInputTimeIn!: (payload: string | number | Date | null) => Promise<void>;

  @Call('inputTimes/setTimeOut')
  private setInputTimeOut!: (payload: string | number | Date | null) => Promise<void>;

  @Call('participants/saveTimeToParticipant')
  private saveTimeToRunner!: ParticipantActions['saveTimeToParticipant'];

  private transmission: Transmission | null = null;
  private get headers() {
    return [
      { text: this.$t('dataHeaders.bib'), value: 'bibNumber' },
      { text: this.$t('runner.firstName'), value: 'runner.firstName' },
      { text: this.$t('runner.lastName'), value: 'runner.lastName' },
      { text: this.$t('dataHeaders.timeIn'), value: 'timeIn' },
      { text: this.$t('dataHeaders.timeOut'), value: 'timeOut' },
    ];
  }
  private get smHeaders() {
    return [
      { text: this.$t('dataHeaders.bib'), value: 'bibNumber' },
      { text: this.$t('dataHeaders.timeIn'), value: 'timeIn' },
      { text: this.$t('dataHeaders.timeOut'), value: 'timeOut' },
    ];
  }
  private dataTable = {
    items: [] as IDataTableItem[],
    selected: [] as IDataTableItem[],
  };
  private sortBy = 'modified';
  private descending = true;
  private rowsPerPage = 20;

  private dnfDialog = {
    open: false,
    reason: '',
    runners: [] as Participant[],
  };

  private confirmDialog = {
    callback: (value?: any | PromiseLike<any> | undefined) => {
      // noop
    },
    text: { i18n: 'runner.deleteEntry', i18nData: {}},
    open: false,
  };

  async created() {
    this.transmission = Transmission.activeTransmission;
    await this.updateEntries();
  }
  // toggleAll() {
  //   if (this.dataTable.selected.length) {
  //     this.dataTable.selected = [];
  //   } else {
  //     this.dataTable.selected = this.dataTable.items.slice();
  //   }
  // }
  // changeSort(column: string) {
  //   if (this.pagination.sortBy === column) {
  //     this.pagination.descending = !this.pagination.descending;
  //   } else {
  //     this.pagination.sortBy = column;
  //     this.pagination.descending = false;
  //   }
  // }
  async updateEntries() {
    let entrys: Entry[] = [];
    let allEntrys: Entry[] = await Entry.getEntrys({eventId: this.eventId, stationId: this.curStation.id});

    switch (this.listFilter) {
      case FILTER_RUNNERS_TO.NEEDS_TRANSMISSION:
        const timestamp = await Transmission.getLastEntryTXTimestamp(this.eventId);
        entrys = await Entry.getEntrys({eventId: this.eventId, stationId: this.curStation.id, sinceDate: timestamp});
        this.sortBy = 'modified';
        this.descending = true;
        break;
      case FILTER_RUNNERS_TO.EXPECTING:
        entrys = allEntrys;
        this.sortBy = 'bibNumber';
        this.descending = false;
        break;
      case FILTER_RUNNERS_TO.SEEN:
        this.sortBy = 'modified';
        this.descending = true;
        entrys = allEntrys;
        break;
      case FILTER_RUNNERS_TO.IN_STATION:
        entrys = allEntrys.filter(e => e.timeIn && !e.timeOut);
        this.sortBy = 'timeIn';
        this.descending = true;
        break;
      default:
        this.sortBy = 'bibNumber';
        this.descending = false;
        entrys = allEntrys;
        break;
    }
    let participantIds = entrys.map(e => e.participantId);
    const participants = await Participant.getParticipants(this.eventId, this.listFilter === FILTER_RUNNERS_TO.EXPECTING ? (void 0) : participantIds);
    if (this.listFilter === FILTER_RUNNERS_TO.EXPECTING) {
      let now = new Date();
      this.dataTable.items = participants.filter(p => {
        return (!p.dnfStation && p.dnfStation !== 0) && participantIds.indexOf(p.id) === -1;
      }).map(p => {
        return {
          bibNumber: p.bibNumber,
          runner: p,
          entry: new Entry(this.eventId, p.id, this.curStation.id),
          timeIn: null,
          timeOut: null,
          modified: now,
        };
      });
      return;
    }
    const participantMap = participants.reduce((m, r) => { m[r.id] = r; return m; }, {} as {[participantId: string]: Participant});
    this.dataTable.items = entrys.map((entry) => {
      let participant = participantMap[entry.participantId];
      return {
        bibNumber: participant.bibNumber,
        runner: participant,
        entry,
        timeIn: entry.timeIn,
        timeOut: entry.timeOut,
        modified: entry.modified,
      };
    });
  }

  filterBy(filter: FILTER_RUNNERS_TO) {
    this.listFilter = filter;
    this.updateEntries();
  }
  openDnfDialog(items: IDataTableItem[]) {
    this.dnfDialog.open = true;
    this.dnfDialog.runners = items.map(i => i.runner);
    this.dnfDialog.reason = '';
  }
  async dropRunners({reason, runners, station}: {reason: string; runners: Participant[]; station: Station;}) {
    this.dnfDialog.open = false;
    const proms = [];
    for (const runner of runners) {
      runner.drop({reason, station});
      proms.push(runner.save());
      proms.push((async () => {
        let entry = await Entry.getEntry(this.curStation.id, runner.id);
        if (!entry) { entry = new Entry(this.eventId, runner.id, this.curStation.id); }
        await entry.save();
      })());
    }
    await Promise.all(proms);
  }
  async undropRunners(runners: Participant[]) {
    const proms = [];
    for (const runner of runners) {
      runner.undrop();
      proms.push(runner.save());
      proms.push((async () => {
        let entry = await Entry.getEntry(this.curStation.id, runner.id);
        if (!entry) { entry = new Entry(this.eventId, runner.id, this.curStation.id); }
        await entry.save();
      })());
    }
    await Promise.all(proms);
  }

  async deleteEntries(items: IDataTableItem[]) {
    let shouldDelete = await new Promise((resolve, reject) => {
      this.confirmDialog.open = true;
      this.confirmDialog.text.i18nData = {count: items.length};
      this.confirmDialog.callback = resolve;
    })
      .finally(() => this.confirmDialog.open = false)
    ;
    if (shouldDelete) {
      await Promise.all(items.map((i) => {
        return Entry.delete(i.entry);
      }));
      await this.updateEntries();
    }
  }
  editRunner(runner: Participant) {
    this.setFocusedRunner(runner);
    this.$router.push({name: ROUTES.inputTimes.name, query: {routeFrom: this.$route.name}});
  }
  editRunnerTimeIn(item: IDataTableItem) {
    this.setInputFocus('timeIn');
    this.setInputTimeIn(item.entry.timeIn);
    this.setInputTimeOut(null);
    this.editRunner(item.runner);
  }
  editRunnerTimeOut(item: IDataTableItem) {
    this.setInputFocus('timeOut');
    this.setInputTimeIn(null);
    this.setInputTimeOut(item.entry.timeOut);
    this.editRunner(item.runner);
  }

  async transmit() {
    let filename = getFilename(this.curStation.stationNumber);
    const [runners, entrys] = [[] as Participant[], [] as Entry[]];
    for (const i of this.dataTable.selected) {
      runners.push(i.runner);
      entrys.push(i.entry);
    }
    let contents = runnersToFileStr(runners, entrys, this.curStation);
    const transmission = Transmission.fromString(filename, contents, this.eventId, this.fromCallsign);
    transmission.entryCount = entrys.length;
    this.transmission = transmission;
    transmission.transmit((void 0), this.fromCallsign);
    await transmission.save();
  }

  async setTimeIn(item: IDataTableItem) {
    const timeIn = new Date();
    let participant = item.runner;
    let entry = item.entry;
    const currentTimeOutOnEntry = entry?.timeOut?.getTime();
    if (timeIn?.getTime() !== (currentTimeOutOnEntry && currentTimeOutOnEntry - (currentTimeOutOnEntry % 6E4))) {
      await this.saveTimeToRunner({participant, entry, timeIn});
    }
  }
  async setTimeOut(item: IDataTableItem) {
    const timeOut = new Date();
    let participant = item.runner;
    let entry = item.entry;
    const currentTimeOutOnEntry = entry?.timeOut?.getTime();
    if (timeOut?.getTime() !== (currentTimeOutOnEntry && currentTimeOutOnEntry - (currentTimeOutOnEntry % 6E4))) {
      await this.saveTimeToRunner({participant, entry, timeOut});
    }
  }

}
</script>

<style lang="scss" scoped>
.page_title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.data-table::v-deep {
  .v-data-footer__pagination { margin: 0 16px 0 8px; }
  .v-data-footer__select .v-select { margin-left: 16px; }
  table.v-table {
    thead th:first-child { padding-right: 0; }
    thead th:nth-child(2) { padding-right: 0; }
    thead th:not(:first-child) { padding-left: 0; }
  }
}
.data-table::v-deep .v-data-footer { flex-wrap: nowrap; }

</style>
