<template>
  <div class="full-view-height" :class="{'primary darken-2': darkMode}">
    <div class="full-height">
      <div class="d-flex full-height scroll-horizontally" v-if="entries.length">
        <div class="bib-col flex-shrink-0 sticky sticky--left primary darken-2 zi-2" :style="{height: ((participants.length * 32) + 56) + 'px'}">
          <div class="sticky sticky--top primary darken-2 accent-border-bottom">
            <div class="pt-1"><div style="height: 1.5em"></div></div>
            <i18next tag="div" path="dataHeaders.bib" class="pl-3 pr-2 pb-1 cursor-pointer" @click="sort()" :class="{'primary': lastSort.station === (void 0) && lastSort.entryKey === (void 0)}"></i18next>
          </div>
          <div class="nowrap accent--text primary pl-3 py-1" v-for="(p, $pidx) of participants" :key="$pidx" :class="[$pidx % 2 === 0 ? 'darken-3' : 'darken-2']">{{p.bibNumber}}</div>
        </div>

        <div class="sticky primary darken-2 name-col zi-1" :class="{'sticky--left': $vuetify.breakpoint.smAndUp}" :style="{height: ((participants.length * 32) + 56) + 'px'}">
          <div class="sticky sticky--top primary darken-2 accent-border-bottom">
            <div class="pt-1"><div style="height: 1.5em"></div></div>
            <i18next tag="div" path="dataHeaders.name" class="px-2 pb-1 cursor-pointer" @click="sort('firstName')" :class="{'primary': lastSort.station === 'firstName'}"></i18next>
          </div>
          <div class="nowrap accent--text primary px-2 py-1 cursor-pointer" v-for="(p, $pidx) of participants" :key="$pidx" :class="[$pidx % 2 === 0 ? 'darken-3' : 'darken-2']" @click="$router.push({name: ROUTES.runnerDetails.name, params: {bibNumber: p.bibNumber}, query: {routeFrom: $route.name}})">
            <div style="height: 1.5em">{{p.firstName}} {{p.lastName}}</div>
          </div>
        </div>

        <template v-for="(station, $sidx) in stations">
          <div :key="$sidx" :style="{height: ((participants.length * 32) + 56) + 'px'}">
            <div class="sticky sticky--top primary darken-2 accent-border-bottom">
              <div class="ml-3 mr-1 pt-1 relative">
                <div style="height: 1.5em">
                  <div class="accent--text truncate absolute max-width-100">{{station.stationNumberDisplayed || station.stationNumber}}{{(!station.stationNumberDisplayed || station.stationNumberDisplayed.trim()) && ': '}}{{station.name}}</div>
                </div>
              </div>
              <div class="d-flex nowrap justify-evenly column pb-1 pl-3 pr-3">
                <div class="cursor-pointer relative flex-grow-1 flex-basis-0 pl-1 pr-3" v-if="$sidx > 0 || stations.length === 1" @click="sort(station, 'timeIn')" :class="{'primary': lastSort.station === station && lastSort.entryKey === 'timeIn'}">
                  <span>In</span>
                  <v-icon class="absolute right-0" v-if="lastSort.station === station && lastSort.entryKey === 'timeIn'">arrow_drop_{{sortDesc ? 'down' : 'up'}}</v-icon>
                </div>
                <div class="cursor-pointer relative flex-grow-1 flex-basis-0" v-if="$sidx < stations.length - 1 || stations.length === 1" @click="sort(station, 'timeOut')" :class="{'primary': lastSort.station === station && lastSort.entryKey === 'timeOut'}">
                  <span class="pl-1">Out</span>
                  <v-icon class="absolute right-0" v-if="lastSort.station === station && lastSort.entryKey === 'timeOut'">arrow_drop_{{sortDesc ? 'down' : 'up'}}</v-icon>
                </div>
              </div>
            </div>
            <template v-for="(e, $eidx) in entries[$sidx]">
              <div class="column d-flex nowrap rslab px-5 py-1" :key="$eidx" :class="e.css">
                <v-tooltip top :disabled="!e.tooltip">
                  <template #activator="{ on }">
                    <div class="pr-3 cursor-pointer" v-if="$sidx > 0 || stations.length === 1" v-on="on" @click="editRunnerTimeIn(station, e.editObj.participant, e.editObj.timeIn)">{{e.timeIn}}</div>
                  </template>
                  <span v-html="e.tooltip"></span>
                </v-tooltip>
                <div class="cursor-pointer" v-if="$sidx < stations.length - 1 || stations.length === 1" @click="editRunnerTimeOut(station, e.editObj.participant, e.editObj.timeOut)">{{e.timeOut}}</div>
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Call, Get } from 'vuex-pathify';
import Layout from '@/router/layouts/Main.vue';
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
import { Station } from '@/models/station';
import { normalizeTimeStr } from '@/plugins/timeFilter';
import { ROUTES } from '@/router/routes';

interface EditObj {
  participant: Participant;
  timeIn: Date | null;
  timeOut: Date | null;
}

@Component({
  components: {
    Layout,
  },
})
export default class Grid extends Vue {
  ROUTES = ROUTES;
  entryMap: {[participantIdStationId: string]: Entry} = {};
  entries: Array<Array<{timeIn: string; timeOut: string; css: string;}>> = [];
  participants: Participant[] = [];
  stations: Station[] = [];

  sortDesc = false;
  lastSort = { station: (void 0) as string | Station | undefined, entryKey: 'timeOut' as string | undefined };

  @Get('settings/raceEventId')
  eventId!: string;

  @Get('settings/DARK_MODE')
  darkMode!: boolean;

  @Call('settings/setStation')
  setStationId!: (stationId: string) => Promise<void>;

  @Call('station/setStation')
  setStationInStore!: (station: Station) => Promise<void>;

  @Call('participants/setFocusedParticipant')
  setFocusedParticipant!: (participant: Participant) => Promise<void>;

  @Call('inputTimes/setFocus')
  setInputFocus!: (payload: "runnerNumber" | "timeIn" | "timeOut") => Promise<void>;

  @Call('inputTimes/setTimeIn')
  setInputTimeIn!: (payload: string | number | Date | null) => Promise<void>;

  @Call('inputTimes/setTimeOut')
  setInputTimeOut!: (payload: string | number | Date | null) => Promise<void>;

  async created() {
    const [entries, participants, stations] = await Promise.all([
      Entry.getEntrys({eventId: this.eventId}),
      Participant.getParticipants(this.eventId),
      Station.getStations(this.eventId),
    ]);
    this.participants = participants;
    this.stations = stations;

    this.participants.sort((a, b) => a.bibNumber > b.bibNumber ? 1 : -1);
    this.stations.sort((a, b) => a.stationNumber > b.stationNumber ? 1 : -1);

    for (const entry of entries) {
      const key = `${entry.participantId}${entry.stationId}`;
      this.entryMap[key] = entry;
    }
    this.sort(this.stations[this.stations.length - 1], 'timeIn');
  }

  sort(key?: string): void;
  sort(station: Station, entryKey: 'timeIn' | 'timeOut'): void;
  sort(station?: Station | string, entryKey?: 'timeIn' | 'timeOut') {
    if (this.lastSort.station === station && this.lastSort.entryKey === entryKey) {
      this.sortDesc = !this.sortDesc;
    // } else {
    //   this.sortDesc = false;
    }
    this.lastSort.station = station;
    this.lastSort.entryKey = entryKey;
    const gtResp = this.sortDesc ? 1 : -1;
    const ltResp = this.sortDesc ? -1 : 1;
    if (!(station instanceof Station)) {
      const key: keyof Participant = station as any || 'bibNumber';
      this.participants.sort((a, b) => {
        return a[key] === b[key] ? 0 : (a[key] || '') > (b[key] || '') ? gtResp : ltResp;
      });
      this.formatDataForDisplay();
      return;
    }
    if (!entryKey) { return; }
    const sidx = this.stations.indexOf(station);
    this.participants.sort((a, b) => {
      /** This puts all DNF at the bottom if the DNF is at or before the sort column */
      if (typeof a.dnfStation === 'number' // a has dropped
        && typeof b.dnfStation !== 'number' // and b has not dropped
        && (a.dnfStation < station.stationNumber || (a.dnfStation === station.stationNumber && entryKey === 'timeOut'))
      ) {
        if (a.dnfStation === b.dnfStation) { return 0; }
        return 1;
      }
      if (typeof b.dnfStation === 'number' // b has dropped
        && typeof a.dnfStation !== 'number' // and a has not dropped
        && (b.dnfStation < station.stationNumber || (b.dnfStation === station.stationNumber && entryKey === 'timeOut'))
      ) {
        if (b.dnfStation === a.dnfStation) { return 0; }
        return -1;
      }
      if (typeof a.dnfStation === 'number' && typeof b.dnfStation === 'number' && a.dnfStation !== b.dnfStation) {
        return a.dnfStation > b.dnfStation ? -1 : 1;
      }
      /** ^^^ */

      let atime: number = 0;
      let btime: number = 0;
      let aEntry: Entry;
      let bEntry: Entry;
      let tmpS = station;
      let tmpSidx = sidx;
      let tmpEntryKey = entryKey;
      while (tmpS && atime === btime) {
        aEntry = this.entryMap[`${a.id}${tmpS.id}`];
        bEntry = this.entryMap[`${b.id}${tmpS.id}`];
        atime = aEntry?.[tmpEntryKey]?.getTime() || Infinity;
        btime = bEntry?.[tmpEntryKey]?.getTime() || Infinity;

        if (tmpEntryKey === 'timeOut') {
          if (typeof a.dnfStation === 'number' && a.dnfStation === tmpS.stationNumber) { atime = Infinity; }
          if (typeof b.dnfStation === 'number' && b.dnfStation === tmpS.stationNumber) { btime = Infinity; }
        }

        if ( typeof a.dnfStation === 'number'
          && (
            (a.dnfStation <= tmpS.stationNumber && tmpEntryKey === 'timeOut')
            || (a.dnfStation < tmpS.stationNumber && tmpEntryKey === 'timeIn')
          )
          && typeof b.dnfStation === 'number'
          && (
            (b.dnfStation <= tmpS.stationNumber && tmpEntryKey === 'timeOut')
            || (b.dnfStation < tmpS.stationNumber && tmpEntryKey === 'timeIn')
          )
        ) {
          // If both a and b have dropped as part of this sort
          if (atime === Infinity) { atime = -Infinity; }
          if (btime === Infinity) { btime = -Infinity; }
        }

        if (atime === btime) {
          if (tmpEntryKey === 'timeOut') {
            tmpEntryKey = 'timeIn';
          } else {
            tmpEntryKey = 'timeOut';
            tmpSidx--;
            tmpS = this.stations[tmpSidx];
          }
        }
      }
      return atime === btime ? 0 : atime > btime ? gtResp : ltResp;
    });
    this.formatDataForDisplay();
  }

  formatDataForDisplay() {
    const now = Date.now();
    this.entries = [];
    let prevStation: Station | undefined;
    for (const [sidx, s] of this.stations.entries()) {
      const legDistance = (s?.distance ?? 0) - (prevStation?.distance ?? 0);
      const {avgChangeInPace, ongoingPaceMap} = getAverageChangeInPace(s, this.participants, this.stations, this.entryMap);
      let col: Array<{timeIn: string; timeOut: string; css: string; tooltip: string; editObj: EditObj}> = [];
      this.entries.push(col);
      for (const [pidx, p] of this.participants.entries()) {
        const entry: Entry | undefined = this.entryMap[String(p.id + s.id)];
        let overdue: number | false = false;
        let tooltip = '';
        if (prevStation && legDistance) {
          const departureTimePrevStation = this.entryMap[String(p.id + prevStation.id)]?.timeOut?.getTime();
          if (departureTimePrevStation && avgChangeInPace) {
            let paceIfArrivedNow = ((entry?.timeIn?.getTime() || now) - departureTimePrevStation) / legDistance;
            const ongoingPace = ongoingPaceMap[`${p.id}${s.id}`];
            if (ongoingPace) {
              overdue = !entry?.timeIn && !entry?.timeOut && paceIfArrivedNow > (ongoingPace * avgChangeInPace) ? paceIfArrivedNow / (ongoingPace * avgChangeInPace): false;
              const eta = new Date((ongoingPace * legDistance * avgChangeInPace) + departureTimePrevStation);
              tooltip += `<div>${this.$t('grid.eta', { time: normalizeTimeStr(new Date(eta)) })}</div>`;
            }
          }
        }
        const timeIn = entry?.timeIn ? normalizeTimeStr(entry?.timeIn) : '__:__';
        let timeOut = entry?.timeOut ? normalizeTimeStr(entry?.timeOut) : '__:__';
        let css = '';
        const DNF = typeof p.dnfStation === 'number' && s.stationNumber >= p.dnfStation;
        if (DNF) {
          if (s.stationNumber === p.dnfStation) { timeOut = 'DNF'; }
          css += pidx % 2 === 0 ? 'grey darken-2' : 'grey darken-2';
        } else if (overdue && overdue > 1.2) {
          // Based on their previous pace and compaired to others we expected them to be here by now
          if (overdue > 2) {
            css += 'red darken-1';
            tooltip += `<div>It has taken twice as long as we expected to get here from the last station</div>`;
          } else if (overdue > 1.5) {
            css += 'orange darken-3';
            tooltip += `<div>It has taken 1.5 as long as we expected to get here from the last station</div>`;
          } else {
            css += 'accent darken-3';
            tooltip += `<div>It has taken 1.2 times as long as we expected to get here from the last station</div>`;
          }
        } else {
          css += pidx % 2 === 0 ? 'primary darken-3' : 'primary darken-2';
        }
        col.push({timeIn, timeOut, css, tooltip, editObj: {participant: p, timeIn: entry?.timeIn ?? null, timeOut: entry?.timeOut ?? null}});
      }
      prevStation = s;
    }

  }

  editPrticipant(participant: Participant) {
    this.setFocusedParticipant(participant);
    this.$router.push({name: ROUTES.inputTimes.name, query: {routeFrom: this.$route.name}});
  }
  editRunnerTimeIn(station: Station, participant: Participant, timeIn: Date | null) {
    this.setStationId(station.id);
    this.setStationInStore(station);

    this.setInputFocus('timeIn');
    this.setInputTimeIn(timeIn);
    this.setInputTimeOut(null);
    this.editPrticipant(participant);
  }
  editRunnerTimeOut(station: Station, participant: Participant, timeOut: Date | null) {
    this.setStationId(station.id);
    this.setStationInStore(station);

    this.setInputFocus('timeOut');
    this.setInputTimeIn(null);
    this.setInputTimeOut(timeOut);
    this.editPrticipant(participant);
  }
}

function getAverageChangeInPace(station: Station, participants: Participant[], stations: Station[], entryMap: {[participantIdStationId: string]: Entry}) {
  const ongoingPaceMap: {[pIdsId: string]: number} = {};
  let changeInPaceTotal = 0;
  let changeInPaceCount = 0;
  const targetStations = stations.slice(0, stations.indexOf(station) + 1).reverse();
  for (const p of participants) {
    const [ongoingPace, recentPace] = getOngoingAvgPace(targetStations, p, entryMap);
    if (!ongoingPace) { continue; }
    ongoingPaceMap[`${p.id}${station.id}`] = ongoingPace;
    if (recentPace) {
      // If there is a recentPace then use it to calulate change in pace
      changeInPaceTotal += (recentPace / ongoingPace);
      changeInPaceCount++;
    }
  }
  const avgChangeInPace = changeInPaceCount ? changeInPaceTotal / changeInPaceCount : (void 0);
  return {avgChangeInPace, ongoingPaceMap};
}
function getOngoingAvgPace([station, prevStationA, prevStationB, prevStationC]: Station[], participant: Participant, entryMap: {[participantIdStationId: string]: Entry}) {
  let pace1 = calcAvgPace(prevStationC, prevStationB, participant, entryMap);
  let pace2 = calcAvgPace(prevStationB, prevStationA, participant, entryMap);
  let recentPace = calcAvgPace(prevStationA, station, participant, entryMap);
  let ongoingPace = (pace1 && pace2) ? ((pace1+pace2) / 2) : pace2 ? pace2 : pace1 ? pace1 : recentPace;
  return [ongoingPace, recentPace];
}

/**
 * Calculates the average pace for a participant between 2 stations
 */
function calcAvgPace(stationA: Station | undefined, stationB: Station | undefined, participant: Participant, entryMap: {[participantIdStationId: string]: Entry}) {
  if (!stationA?.distance || !stationB?.distance) { return; }
  const distance = (stationB.distance - stationA.distance);
  const entryA = entryMap[`${participant.id}${stationA.id}`];
  const entryB = entryMap[`${participant.id}${stationB.id}`];
  const stationATime = entryA?.timeOut || entryA?.timeIn;
  const stationBTime = entryB?.timeIn || entryA?.timeOut;
  if (!stationATime || !stationBTime) { return; }
  const time = stationBTime.getTime() - stationATime.getTime();
  const pace = (time / distance);
  return pace;
}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$bibColWidth: 50px;
.scroll-horizontally { overflow-x: auto; }
.rslab { font-family: "Roboto Mono"; }
.bib-col { width: $bibColWidth; left: 0; }
.justify-evenly { justify-content: space-evenly; }
.absolute { position: absolute; }
.relative { position: relative; }
.right-0 { right: 0px; }
.max-width-100 { max-width: 100%; }
.cursor-pointer { cursor: pointer; }
.column, .column.primary { border-left: solid 1px #855a00 !important; }
.sticky {
  position: -webkit-sticky; position: sticky;
  &.sticky--left { left: 0; }
  &.sticky--top { top: 0; }
}
.name-col.sticky.sticky--left { left: $bibColWidth; }
.primary.accent-border-bottom, .accent-border-bottom { border-bottom: solid 1px #855a00 !important; }
</style>