<template>
  <Layout class="input-times-view full-height" :class="darkMode ? 'grey darken-3' : ''">
    <InputSettings slot="settings"/>

    <KeypadComponent class="keypad"></KeypadComponent>

    <!-- Bib number -->
    <div class="input" :class="[{'focused': focus === 'runnerNumber'}, this.$vuetify.theme.dark ? 'theme--dark' : 'theme--light']">
      <fieldset @click.stop="focusRunnerNumber">
        <i18next class="px-2 lh-1 v-align-middle input--hint" path="inputTimes.instructions.runnerNumber" tag="legend"></i18next>
        <h2 class="inline pl-4 v-align-middle title" v-if="runnerNumber">{{runnerNumber}}</h2>
        <h2 class="inline pl-4 v-align-middle title" v-else-if="runner && focus !== 'runnerNumber'">{{runner.bibNumber}}</h2>
        <i18next tag="h2" path="runner.dns" class="inline mr-4 v-align-middle title pull-right" v-if="runner && typeof runner.dnfStation === 'number' && runner.dnfStation === 0"></i18next>
        <i18next tag="h2" path="runner.dropped" class="inline mr-4 v-align-middle title pull-right" v-else-if="runner && typeof runner.dnfStation === 'number' && runner.dnfStation <= curStation.stationNumber"></i18next>
        <InputSettings slot="settings">
          <template #activator="{ on, attrs }">
            <v-btn text icon v-on="on" v-bind="attrs" class="mt-n1 settings-icon">
              <v-icon>settings</v-icon>
            </v-btn>
          </template>
        </InputSettings>
      </fieldset>
    </div>

    <!-- TODO show the time in and out and if not a runner then create a new runner with no bib number -->
    <!-- Time In -->
    <div class="input mt-1 half-width mr-2px d-inline-block v-align-middle"
      :class="[
        {
          'focused': focus === 'timeIn',
          'invalid': timeIn && !timeIn.isValid,
          'warn': entry && timeIn && entry.timeOut && new Date(`${timeInDay} ${normalizeTimeStr(timeIn.number)}`) > new Date(entry.timeOut.toString().substr(0,21)),
        },
        this.$vuetify.theme.dark ? 'theme--dark' : 'theme--light',
      ]"
      elevation="0"
    >
      <fieldset @click.stop="focusTimeIn">
        <i18next class="px-2 lh-1 v-align-middle input--hint" path="inputTimes.instructions.timeIn" tag="legend"></i18next>
        <h2 class="inline pl-4 v-align-middle title" v-if="focus === 'timeIn'">{{timeIn && timeIn.number | time}}</h2>
        <h2 class="inline pl-4 v-align-middle title" v-else-if="entry && entry.timeIn && (focus !== 'runnerNumber' || !!runnerNumber)">{{entry.timeIn | time}}</h2>
        <div class="day-icon" @click.stop="toggleTimeInDatePicker">
          <div class="day-icon--number">
            <span v-if="focus === 'timeIn' && timeInDay">{{new Date(timeInDay) | day}}</span>
            <span v-else-if="entry && entry.timeIn && (focus !== 'runnerNumber' || !!runnerNumber)">{{entry.timeIn | day}}</span>
          </div>
          <v-icon>calendar_today</v-icon>
        </div>
      </fieldset>
      <i18next tag="div" class="caption field-error font-weight-medium" path="errors.invalidTime" v-if="timeIn && !timeIn.isValid"></i18next>
      <i18next tag="div" class="caption field-warn font-weight-medium" path="errors.checkDate"
        v-else-if="entry && (
          timeIn && entry.timeOut && new Date(`${timeInDay} ${normalizeTimeStr(timeIn.number)}`) > new Date(entry.timeOut.toString().substr(0,21)) ||
          timeOut && entry.timeIn && new Date(`${timeOutDay} ${normalizeTimeStr(timeOut.number)}`) < new Date(entry.timeIn.toString().substr(0,21)) ||
          !timeIn && !timeOut && entry.timeIn && entry.timeOut && new Date(entry.timeIn.toString().substr(0,21)) > new Date(entry.timeOut.toString().substr(0,21))
        )"
      ></i18next>
      <v-date-picker
        v-if="focus === 'timeIn' && datePicker.timeIn.open"
        no-title
        show-current="false"
        color="hamstudyBlue"
        :value="new Date(timeInDay || Date.now()) | date('YYYY-MM-DD')"
        @change="storeTimeInDay($event); datePicker.timeIn.open = false"
      ></v-date-picker>
    </div>

    <!-- Time Out -->
    <div class="input mt-1 half-width ml-2px d-inline-block v-align-middle"
      :class="[
        {
          'focused': focus === 'timeOut',
          'invalid': timeOut && !timeOut.isValid,
          'warn': entry && timeOut && entry.timeIn && new Date(`${timeOutDay} ${normalizeTimeStr(timeOut.number)}`) < new Date(entry.timeIn.toString().substr(0,21)),
        },
        this.$vuetify.theme.dark ? 'theme--dark' : 'theme--light'
      ]"
      elevation="0"
    >
      <fieldset @click.stop="focusTimeOut">
        <i18next class="px-2 lh-1 v-align-middle input--hint" path="inputTimes.instructions.timeOut" tag="legend"></i18next>
        <h2 class="inline pl-4 v-align-middle title" v-if="focus === 'timeOut'">{{timeOut && timeOut.number | time}}</h2>
        <h2 class="inline pl-4 v-align-middle title" v-else-if="entry && entry.timeOut && (focus !== 'runnerNumber' || !!runnerNumber)">{{entry.timeOut | time}}</h2>
        <div class="day-icon" @click.stop="toggleTimeOutDatePicker">
          <div class="day-icon--number">
            <span v-if="focus === 'timeOut' && timeOutDay">{{new Date(timeOutDay) | day}}</span>
            <span v-else-if="entry && entry.timeOut && (focus !== 'runnerNumber' || !!runnerNumber)">{{entry.timeOut | day}}</span>
          </div>
          <v-icon>calendar_today</v-icon>
        </div>
      </fieldset>
      <i18next tag="div" class="caption field-error font-weight-medium" path="errors.invalidTime" v-if="timeOut && !timeOut.isValid"></i18next>
      <!-- <i18next tag="div" class="caption field-warn font-weight-medium" path="errors.invalidTime"
        v-else-if="runner && runner.getTimeIn(curStation.id) && (timeOut && new Date(`${timeOutDay} ${normalizeTimeStr(timeOut.number)}`) < runner.getTimeIn(curStation.id) || runner.getTimeOut(curStation.id) && runner.getTimeOut(curStation.id) < runner.getTimeIn(curStation.id))"
      ></i18next> -->
      <v-date-picker class="right-justified"
        v-if="focus === 'timeOut' && datePicker.timeOut.open"
        no-title
        show-current="false"
        color="hamstudyBlue"
        :value="new Date(timeOutDay || Date.now()) | date('YYYY-MM-DD')"
        @change="storeTimeOutDay($event); datePicker.timeOut.open = false"
      ></v-date-picker>
    </div>

    <div class="pt-2" v-if="runner">
      <v-list-item class="px-5">
        <v-list-item-content>
          <v-list-item-title>
            <span v-if="runner.firstName || runner.lastName">
              <span place="first" v-if="runner.firstName">{{runner.firstName + ' '}}</span>
              <span place="last" v-if="runner.lastName">{{runner.lastName}}</span>
            </span>
            <i18next path="inputTimes.instructions.found" v-else>
              <span place="bibNumber">{{runner.bibNumber}}</span>
            </i18next>
            <span v-if="runner.sex" class="px-1">({{runner.sex}})</span>
            <!-- <i18next v-if="runner.age" class="px-1" path="runner.age">{{runner.age}}</i18next> -->
          </v-list-item-title>
          <v-list-item-subtitle v-if="typeof runner.dnfStation === 'number'">
            <i18next tag="div" v-if="runner.dnfStation === 0" path="runner.didNotStart"/>
            <div v-else-if="runner.dnfStation > 0">
              <i18next tag="div" path="runner.droppedAt">{{runner.dnfStation}}</i18next>
            </div>
          </v-list-item-subtitle>
          <v-list-item-subtitle v-if="entry && (entry.timeIn || entry.timeOut)">
            <i18next tag="div" path="runnerDetails.timeIn" class="pr-4">
              <span class="pl-3" v-if="entry.timeIn">{{entry.timeIn | date('MMM DD, HH:mm')}}</span>
              <span class="pl-3" v-else>—</span>
            </i18next>
            <i18next tag="div" path="runnerDetails.timeOut">
              <span class="pl-1" v-if="entry.timeOut">{{entry.timeOut | date('MMM DD, HH:mm')}}</span>
              <span class="pl-1" v-else>—</span>
            </i18next>
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action-text>
          <v-btn text icon :to="{ name: 'runnerDetails', params: {bibNumber: runner.bibNumber}, query: { routeFrom: $route.name}}">
            <v-icon>info</v-icon>
          </v-btn>
        </v-list-item-action-text>
      </v-list-item>

      <i18next tag="div" path="runnerCard.note" v-if="runner.note" class="px-5">
        <span>{{runner.note}}</span>
      </i18next>
    </div>

    <div v-if="!!runnerNumber && !runner" class="text-center pt-5">
      <i18next tag="div" class="subheading" path="inputTimes.instructions.notFound">{{runnerNumber}}</i18next>
      <i18next tag="div" class="body-1" path="inputTimes.instructions.add"></i18next>
    </div>
  </Layout>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Call, Get } from 'vuex-pathify';
import { Actions as InputActions } from '@/store/inputTimes/module';
import KeypadComponent from '@/components/input-times/Keypad.vue';
import InputSettings from '@/components/input-times/InputSettings.vue';
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
import { Station } from '@/models/station';
import { normalizeTimeStr } from '@/plugins/timeFilter';
import Layout from '@/router/layouts/Main.vue';
import { ROUTES } from '@/router/routes';

@Component({
  components: {
    KeypadComponent,
    InputSettings,
    Layout,
  },
})
export default class InputTimesView extends Vue {
  ROUTES = ROUTES;
  private Date = Date;
  private normalizeTimeStr = normalizeTimeStr;
  private datePicker = {
    timeIn: {
      open: false,
    },
    timeOut: {
      open: false,
    },
  };
  @Get('station/station')
  private curStation!: Station;

  @Get('settings/DARK_MODE')
  private darkMode!: boolean;

  @Get('inputTimes/focus')
  private focus!: "runnerNumber" | "timeIn" | "timeOut";

  @Get('participants/focusedEntry')
  private entry!: Entry | null;

  @Get('participants/focusedParticipant')
  private runner!: Participant | null;

  @Get('participants/bibNumber')
  private runnerNumber!: number | null;

  @Get('inputTimes/timeIn')
  private timeIn!: { number: number; isValid: boolean } | null;

  @Get('inputTimes/timeInDay')
  private timeInDay!: string;

  @Get('inputTimes/timeOut')
  private timeOut!: { number: number; isValid: boolean } | null;

  @Get('inputTimes/timeOutDay')
  private timeOutDay!: string;

  @Call('inputTimes/setFocus')
  private setFocus!: InputActions['setFocus'];

  @Call('inputTimes/setTimeIn')
  private storeTimeIn!: (payload: string | number | Date | null) => Promise<void>;

  @Call('inputTimes/setTimeInDay')
  private storeTimeInDay!: (payload: Date | string) => Promise<void>;

  @Call('inputTimes/setTimeOut')
  private storeTimeOut!: (payload: string | number | Date | null) => Promise<void>;

  @Call('inputTimes/setTimeOutDay')
  private storeTimeOutDay!: (payload: Date | string) => Promise<void>;

  @Call('participants/findAndUpdateParticipant')
  private updateRunner!: (bibNumber: number) => Promise<void>;

  private async created() {
    const runnerNumber = this.runnerNumber || (this.runner && this.runner.bibNumber);
    if (runnerNumber) {
      await this.updateRunner(runnerNumber);
      if (!this.runner) {
        this.focusRunnerNumber();
      }
    }
  }

  private focusRunnerNumber() {
    if ((this.timeIn !== null && !this.timeIn.isValid) || (this.timeOut !== null && !this.timeOut.isValid)) {
      return;
    }
    this.storeTimeIn(null);
    this.datePicker.timeIn.open = false;
    this.storeTimeOut(null);
    this.datePicker.timeOut.open = false;
    this.setFocus('runnerNumber');
  }
  private focusTimeIn() {
    if (this.focus === 'timeIn') { return; }
    if (!this.runner) { return this.focusRunnerNumber(); }
    if ((this.timeIn !== null && !this.timeIn.isValid) || (this.timeOut !== null && !this.timeOut.isValid)) {
      return;
    }
    this.storeTimeOut(null);
    this.datePicker.timeOut.open = false;
    let rTime = this.entry?.timeIn || null;
    if (rTime) {
      this.storeTimeIn(rTime);
    }
    this.setFocus('timeIn');
  }
  private focusTimeOut() {
    if (this.focus === 'timeOut') { return; }
    if (!this.runner) { return this.focusRunnerNumber(); }
    if ((this.timeIn !== null && !this.timeIn.isValid) || (this.timeOut !== null && !this.timeOut.isValid)) {
      return;
    }
    this.storeTimeIn(null);
    this.datePicker.timeIn.open = false;
    let rTime = this.entry?.timeOut;
    if (rTime) {
      this.storeTimeOut(rTime);
    }
    this.setFocus('timeOut');
  }

  private toggleTimeInDatePicker(evt: MouseEvent) {
    evt.preventDefault();
    evt.stopPropagation();
    if (!this.timeIn) {
      this.focusTimeIn();
    }
    this.datePicker.timeIn.open = !this.datePicker.timeIn.open;
  }
  private toggleTimeOutDatePicker(evt: MouseEvent) {
    evt.preventDefault();
    evt.stopPropagation();
    if (!this.timeOut) {
      this.focusTimeOut();
    }
    this.datePicker.timeOut.open = !this.datePicker.timeOut.open;
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$inputHeight: 52px;
$legendFontSize: 16px;
.title-bar { height: 43px; margin-top: env(safe-area-inset-top); }
.inline { display: inline; }
.lh-1 { line-height: 1; }
.v-align-middle { vertical-align: middle; }
.full-width { width: 100%; }
.half-width { width: 50%; width: calc(50% - 2px); } // first width is for older devices that can't use calc
.ml-2px { margin-left: 2px; }
.mr-2px { margin-right: 2px; }
.pull-right { float: right; }

@media only screen and (max-height: 650px) {
  .input-times-view::v-deep {
    .title-bar { display: none; }
    .titlebar-padding { padding-top: 0; }
  }
}
.data-table::v-deep table.v-table {
  &.theme--dark { background-color: inherit; }
  thead tr { height: auto; }
  thead th {
    padding: 12px 16px 4px;
  }
  &.theme--light tbody th.focused { background-color: #CFD8DC; }
  &.theme--dark tbody th.focused { background-color: #616161; }
}
.keypad {
  height: 400px; width: 400px; max-width: 100%;
  position: absolute; bottom: 0; right: 0;
}
.input {
  // background-color: inherit;
  // border: 1px solid rgba(#FFF, 0.87); border-radius: 4px;
  height: $inputHeight; position: relative;
  h2.pull-right { line-height: 24px; }
  fieldset {
    border-color: currentColor; border-style: solid; border-width: 1px; border-radius: 4px;
    height: 100%; width: 100%;
    legend { user-select: none; margin-left: 11px; font-size: $legendFontSize; }
    h2 { margin-left: 3px; }
  }
  &.focused {
    fieldset { border-width: 2px; }
    legend { margin-left: 10px; }
    h2 { margin-left: 2px; }
  }
  // .input--hint {
  //   position: absolute; top: 16px; z-index: 1; background-color: inherit;
  //   transform: translateY(-24px) scale(0.75);
  // }
}
.field-error, .field-warn { line-height: 1; padding-top: 2px; padding-left: 2px; }
.theme--light.input {
  $activeColor: #006065;
  $invalidColor: #B00020;
  $warnColor: #FF6D00;
  fieldset { background-color: #FAFAFA; }
  .field-error { color: $invalidColor; }
  .field-warn { color: $warnColor; }
  &.focused { background-color: #FFF; }
  &.focused {
    fieldset {
      background-color: #FFF; border-color: $activeColor;
      legend { color: $activeColor; }
    }
    &.invalid {
      fieldset {
        border-color: $invalidColor;
        legend { color: $invalidColor; }
      }
    }
    &.warn {
      fieldset {
        border-color: $warnColor;
        legend { color: $warnColor; }
      }
    }
  }
}
.theme--dark.input {
  $activeColor: #FFC10A;
  $invalidColor: #FF1744;
  $warnColor: #FF6D00;
  fieldset { background-color: #303030; }
  .field-error { color: $invalidColor; }
  .field-warn { color: $warnColor; }
  &.focused {
    fieldset {
      background-color: #212121; border-color: $activeColor;
      legend { color: $activeColor; }
    }
    &.invalid {
      fieldset {
        border-color: $invalidColor;
        legend { color: $invalidColor; }
      }
    }
    &.warn {
      fieldset {
        border-color: $warnColor;
        legend { color: $warnColor; }
      }
    }
  }
}
.settings-icon {
  position: absolute; right: 4px; bottom: 4px;
  @media only screen and (min-height: 651px) {
    display: none;
  }
}
.day-icon {
  $size: 30px;
  top: 0;
  line-height: 1; position: absolute; text-align: center; width: $size; height: $size;
  $thing: (($inputHeight - ($legendFontSize / 2)) - $size) / 2;
  margin-top: ($legendFontSize / 2) + $thing;
  right: $thing - 1;
  .day-icon--number {
    padding-top: $size * 1/3; line-height: $size * .56; font-size: $size * 16/34;
  }
  .v-icon {
    font-size: $size; position: absolute; left: 0; top: 0;
  }
}
.v-picker {
  position: absolute; right: 0; z-index: 1;
  ::v-deep .v-picker__body.theme--dark {
    background-color: #212121;
  }
  &.right-justified ::v-deep .v-picker__body {
    position: absolute; right: 0;
  }
}
</style>