<template>
  <Layout>
    <i18next class="text-center" path="titles.eventPicker" slot="title"></i18next>
    <div slot="actions-items">
      <v-btn text small @click.stop="editting = !editting" class="ma-0 no-min-width" v-if="events.length">
        <i18next :path="editting ? 'buttons.stopEditting' : 'buttons.edit'"></i18next>
      </v-btn>
    </div>
    <v-btn fab fixed dark color="accent darken-1" class="upload-btn" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="$refs.uploadFileInput.click()" v-show="!editting">
      <v-icon>attachment</v-icon>
    </v-btn>
    <input v-show="false" ref="uploadFileInput" name="uploadFileInput" type="file" @change="uploadFile" accept="text/plain, text/csv, application/json"/>
    <!-- <v-btn fab fixed dark class="listen-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="receive()" v-if="!receiveService.listening">
      <v-icon>mic_off</v-icon>
    </v-btn>
    <v-btn fab fixed dark class="listen-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="stopReceiving()" v-else v-show="!editting">
      <v-icon>{{receiveService.hearing ? 'hearing' : 'mic'}}</v-icon>
    </v-btn> -->
    <v-btn fab fixed dark class="add-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="newEvent()" v-show="!editting">
      <v-icon>add</v-icon>
    </v-btn>
    <v-dialog v-model="importing" persistent width="200">
      <v-card class="pt-2 text-center">
        <i18next tag="div" class="px-4 pb-2" path="receive.importing"></i18next>
        <v-progress-linear indeterminate color="accent" class="mb-0"></v-progress-linear>
      </v-card>
    </v-dialog>
    <v-list class="pa-0">
      <div class="text-center pa-6" v-if="!events.length">
        <i18next class="title" path="settings.noEvents"></i18next>
        <i18next tag="div" class="body-2 pt-4" path="settings.noEventsFile"></i18next>
      </div>
      <template v-for="(r, i) in events">
        <v-list-item :key="'list-tile-' + i" @click="setEvent(r)">
          <v-list-item-content>{{r.name || r.id}}</v-list-item-content>
          <v-list-item-action v-if="!editting && r.id === eventId">
            <v-icon>check</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="editEvent(r)">
            <v-icon>edit</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="deleteEvent(r)">
            <v-icon color="red">delete</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="!editting">
            <v-icon>chevron_right</v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-divider :key="'divider-' + i"/>
      </template>
    </v-list>

    <v-dialog v-model="editDialog.open" max-width="400">
      <v-card>
        <v-card-title>
          <i18next class="headline" path="settings.editRaceTitle"></i18next>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field label="Event name*" required v-model="editDialog.name"></v-text-field>
            </v-flex>
            <!-- <v-flex xs12>
              <v-text-field label="Event ID*" required v-model="editDialog.id"></v-text-field>
            </v-flex> -->
          </v-layout>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="editDialog.open = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="saveEvent()" :disabled="!editDialog.name"><i18next path="buttons.save"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
  </Layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Call, Get } from 'vuex-pathify';
import { Event } from '@/models/event';
import { Station } from '@/models/station';
import { ROUTES } from '@/router/routes';
import receiveService from '@/services/receive.service';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import Layout from '@/router/layouts/Main.vue';
import { FileCompleteEvent } from '@hamstudy/flamp/dist/deamp';
import { FilenameRegex } from '@/models/transmission';


@Component({
  components: {
    ConfirmDialog,
    Layout,
  },
})
export default class RaceEventPicker extends Vue {
  receiveService = receiveService;

  @Get('settings/raceEventId')
  eventId!: string;

  @Call('settings/setRace')
  setEventInStore!: (eventId: Event | null) => Promise<void>;

  @Get('station/station')
  station!: Station;

  editting = false;
  events: Event[] = [];
  importing = false;

  editDialog = {
    event: null as null | Event,
    open: false,
    name: '',
  };

  private confirmDialog = {
    callback: (value?: any | PromiseLike<any> | undefined) => {
      // noop
    },
    text: { i18n: 'settings.deleteEvent', i18nData: {}},
    open: false,
  };

  private async setEvent(event: Event | null) {
    if (this.editting) { return; }
    if (!event || event.id !== this.eventId) {
      await this.setEventInStore(event);
    }
    if (event) {
      let routeFrom = Array.isArray(this.$route.query.routeFrom) ? this.$route.query.routeFrom[0] : this.$route.query.routeFrom;
      const query = { routeFrom: [this.$route.name || null, routeFrom], routeTo: routeFrom || ROUTES.inputTimes.name };
      this.$router.push({ name: ROUTES.stationPicker.name, query });
    }
  }

  private async newEvent() {
    this.editEvent(new Event({name: ''}));
  }

  private async created() {
    await this.getEvents();
  }
  private async getEvents() {
    this.events = await Event.getEvents();
  }

  private editEvent(event: Event) {
    this.editDialog.event = event;
    this.editDialog.name = event.name || '';
    this.editDialog.open = true;
  }
  private async saveEvent() {
    this.editting = false;
    if (this.editDialog.event) {
      if (!this.editDialog.name) { return; }
      let event = this.editDialog.event;
      event.name = this.editDialog.name;
      this.editDialog.open = false;
      try {
        await event.save();
        if (!this.events.length) {
          this.setEvent(event);
        } else {
          await this.getEvents();
        }
      } catch (e) {
        console.error(e); // tslint:disable-line no-console
        alert(e);
        await this.getEvents();
      }
    }
  }

  private async deleteEvent(event: Event) {
    let shouldDelete = await new Promise((resolve, reject) => {
      this.confirmDialog.open = true;
      this.confirmDialog.text.i18nData = { name: `${event.name || ''}` };
      this.confirmDialog.callback = resolve;
    })
      .finally(() => this.confirmDialog.open = false)
    ;
    if (shouldDelete) {
      this.editting = false;
      await Event.delete(event);
      if (this.eventId === event.id) {
        this.setEvent(null);
      }
      await this.getEvents();
    }
  }

  private async receive() {
    receiveService.deamp.fileCompleteEvent.once(this.fileReceived.bind(this));
    await receiveService.listen();
  }
  private stopReceiving() {
    receiveService.deamp.fileCompleteEvent.off(this.fileReceived.bind(this));
    receiveService.stopListening();
  }
  private async fileReceived(evt: FileCompleteEvent) {
    let file = receiveService.deamp.getFile(evt.hash);
    let filename = file.name;
    if (filename && FilenameRegex.event.test(filename)) {
      let content = file.getContent();
      await receiveService.parseRaceData(content || '', filename);
      await this.getEvents();
      if (this.events.length === 1) {
        this.setEvent(this.events[0]);
      }
    }
  }
  private uploadFile(e: any) {
    if (!e || !e.target || !e.target.files) { return; }
    const file: File = e.target.files[0];
    const reader = new FileReader();
    reader.onload = async () => {
      this.importing = true;
      try {
        if (typeof reader.result !== 'string') {
          alert('Unable to read file');
          return;
        }
        let content = reader.result;
        if (file.type === 'application/json') {
          try {
            await receiveService.importData(content, file.name);
          } catch (e) {
            console.error(e); // tslint:disable-line no-console
            alert(e);
          }
        } else {
          await receiveService.parseRaceData(content, file.name);
        }
        await this.getEvents();
      } finally {
        (this.$refs.uploadFileInput as any).value = '';
        this.importing = false;
      }
    };
    reader.readAsText(file);

  }
}
</script>

<style lang="scss" scoped>
.theme--dark.back-btn:before { background: transparent; }
.theme--light.back-btn:before { background-color: #FFF; }

.v-list { background-color: transparent; }
$bottom: 16px;
.listen-btn {
  bottom: $bottom; right: 88px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom)); right: calc(88px + env(safe-area-inset-right));
}
.add-btn {
  bottom: $bottom; right: 16px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom)); right: calc(16px + env(safe-area-inset-right));
}
.upload-btn {
  bottom: $bottom; right: 88px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom)); right: calc(88px + env(safe-area-inset-right));
}

$bottom: 70px;
.adjust-up-for-tabBar.listen-btn {
  bottom: $bottom; // For older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom));
}
.adjust-up-for-tabBar.add-btn {
  bottom: $bottom; // For older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom));
}
.adjust-up-for-tabBar.upload-btn {
  bottom: $bottom; // For older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom));
}
.back-btn { line-height: 24px; text-transform: initial; }
.no-min-width { min-width: 0; }
</style>
