<template>
  <Layout v-if="runner">
    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
    <i18next slot="title" class="text-center" path="runnerDetails.title">
      <span>{{runner.bibNumber}}</span>
    </i18next> 
    <template slot="actions-items">
      <v-btn icon @click.stop="deleteRunner()">
        <v-icon>delete</v-icon>
      </v-btn>
    </template>
    <v-btn class="pull-right ma-2" @click.stop="openDnfDialog" v-if="!runner.dnfStation && runner.dnfStation !== 0">
      <i18next path="buttons.dns" v-if="curStation.stationNumber === 0"></i18next>
      <i18next path="buttons.dnf" v-else></i18next>
    </v-btn>
    <v-btn class="pull-right ma-2" @click.stop="undropRunner" v-else-if="runner.dnfStation === curStation.stationNumber">
      <i18next path="buttons.undoDNS" v-if="curStation.stationNumber === 0"></i18next>
      <i18next path="buttons.undoDNF" v-else></i18next>
    </v-btn>
    <div class="py-4" v-if="runner.firstName || runner.lastName || runner.age || runner.sex || runner.home || runner.team || runner.note || runner.dnfStation >= 0 || runner.dnfReason">
      <i18next class="px-4" path="runner.name" tag="div" v-if="runner.firstName || runner.lastName">
        <span>{{runner.firstName}}</span>
        <span>{{runner.lastName}}</span>
      </i18next>
      <i18next class="px-4" path="runner.age" tag="div" v-if="runner.age">{{runner.age}}</i18next>
      <i18next class="px-4" path="runner.gender" tag="div" v-if="runner.sex">{{runner.sex}}</i18next>
      <i18next class="px-4" path="runner.home" tag="div" v-if="runner.home">{{runner.home}}</i18next>
      <i18next class="px-4" path="runner.team" tag="div" v-if="runner.team">{{runner.team}}</i18next>
      <i18next class="px-4" path="runner.didNotStart" tag="div" v-if="runner.dnfStation === 0"/>
      <i18next class="px-4" path="runner.droppedAt" tag="div" v-else-if="runner.dnfStation > 0">{{runner.dnfStation}}</i18next>
      <i18next class="px-4" path="runner.dnsReason" tag="div" v-if="runner.dnfReason && runner.dnfStation === 0">{{runner.dnfReason}}</i18next>
      <i18next class="px-4" path="runner.droppedReason" tag="div" v-else-if="runner.dnfReason">{{runner.dnfReason}}</i18next>
      <i18next class="px-4 ws-pre" path="runner.note" tag="div" v-if="runner.note">{{runner.note}}</i18next>
    </div>
    <v-divider/>
    <v-row class="ma-0" justify="center">
      <v-col class="py-0" cols="12" sm="8" md="6" lg="5">
        <v-row class="ma-0 p">
          <v-col class="py-0" :class="{'px-1': $vuetify.breakpoint.xs}">
            <v-row class="ma-0 font-weight-bold" :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''">
              <v-col cols="1">#</v-col>
              <v-col cols="5">Station</v-col>
              <!-- <v-col cols="2">Distance</v-col> -->
              <v-col class="text-right">Arrived</v-col>
              <v-col class="text-right">Left</v-col>
            </v-row>
            <template v-for="station of stations">
              <v-row class="ma-0" :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''" :key="station.id">
                <v-col cols="1">{{station.stationNumberDisplayed || station.stationNumber}}</v-col>
                <v-col cols="5">{{station.name}}<span class="pl-1" v-if="station.distance || station.distance === 0">({{station.distance}})</span></v-col>
                <!-- <v-col cols="2">{{station.distance}}</v-col> -->
                <v-col class="text-right" v-if="(entryMap[station.id] || {}).timeIn">{{(entryMap[station.id] || {}).timeIn | time}}</v-col>
                <v-col class="text-right" v-else>---</v-col>
                <v-col class="text-right" v-if="(entryMap[station.id] || {}).timeOut">{{(entryMap[station.id] || {}).timeOut | time}}</v-col>
                <v-col class="text-right" v-else>---</v-col>
              </v-row>
            </template>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-dialog v-model="dnfDialog.open" max-width="400">
      <v-card>
        <v-card-title>
          <i18next class="headline" path="station.dnsDialogTitle" v-if="curStation.stationNumber === 0"></i18next>
          <i18next class="headline" path="station.dnfDialogTitle" v-else></i18next>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field :label="$t(curStation.stationNumber === 0 ? 'station.dnsReason' : 'station.dnfReason')" v-model="dnfDialog.reason"></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="dnfDialog.open = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="dropRunner(dnfDialog.reason)"><i18next v-if="curStation.stationNumber === 0" path="buttons.dns"/><i18next v-else path="buttons.dnf"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </Layout>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Get } from 'vuex-pathify';
import Layout from '@/router/layouts/Main.vue';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import { Participant } from '@/models/participant';
import { Entry } from '@/models/entry';
import router from '@/router';
import { ROUTES } from '../routes';
import { Station } from '@/models/station';


@Component({
  components: {
    ConfirmDialog,
    Layout,
  },
})
export default class RunnerDetails extends Vue {
  ROUTES = ROUTES;
  @Prop({type: Number}) bibNumber!: number;
  runner: Participant | null = null;
  entryMap: {[stationId: string]: Entry} = {};
  stations: Station[] = [];

  private confirmDialog = {
    callback: (value?: any | PromiseLike<any> | undefined) => {
      // noop
    },
    text: { i18n: 'runner.delete', i18nData: {}},
    open: false,
  };

  @Get('settings/raceEventId')
  private eventId!: string;

  @Get('station/station')
  private curStation!: Station;

  private dnfDialog = {
    open: false,
    reason: '',
  };

  private async created() {
    try {
      this.runner = await Participant.getParticipant(this.eventId, this.bibNumber);
      if (!this.runner) {
        router.push({name: ROUTES.home.name});
      } else {
        let [stations, entrys] = await Promise.all([
          Station.getStations(this.eventId),
          Entry.getEntrys({participantId: this.runner.id}),
        ]);
        this.stations = stations;
        this.stations.sort((a, b) => a.stationNumber > b.stationNumber ? 1 : -1);
        this.entryMap = entrys.reduce((m, e) => {m[e.stationId] = e; return m;}, {} as {[stationId: string]: Entry});
      }
    } catch (e) {
      console.error(e); // tslint:disable-line
    }
  }

  private async deleteRunner() {
    if (!this.runner) { return; }
    let shouldDelete = await new Promise((resolve, reject) => {
      this.confirmDialog.open = true;
      this.confirmDialog.text.i18nData = {};
      this.confirmDialog.callback = resolve;
    })
      .finally(() => this.confirmDialog.open = false)
    ;
    if (shouldDelete) {
      await Participant.delete(this.runner);
      router.push({name: ROUTES.home.name});
    }
  }

  private goBack() {
    router.go(-1);
  }

  private openDnfDialog() {
    this.dnfDialog.open = true;
    this.dnfDialog.reason = '';
  }
  private async dropRunner(reason: string) {
    if (!this.runner) { return; }
    this.dnfDialog.open = false;
    this.runner.drop({reason, station: this.curStation});
    await Promise.all([
      this.runner.save(),
      (async () => {
        if (!this.runner) { return; }
        let entry = await Entry.getEntry(this.curStation.id, this.runner.id);
        if (!entry) { entry = new Entry(this.eventId, this.runner.id, this.curStation.id); }
        await entry.save();
      })(),
    ]);
  }
  private async undropRunner() {
    if (!this.runner) { return; }
    this.runner.undrop();
    await Promise.all([
      this.runner.save(),
      (async () => {
        if (!this.runner) { return; }
        let entry = await Entry.getEntry(this.curStation.id, this.runner.id);
        if (!entry) { entry = new Entry(this.eventId, this.runner.id, this.curStation.id); }
        await entry.save();
      })(),
    ]);
  }

}
</script>

<style lang="scss" scoped>
.theme--dark.back-btn:before { background: transparent; }
.theme--light.back-btn:before { background-color: #FFF; }

.v-list { background-color: transparent; }
.back-btn { line-height: 24px; text-transform: initial; }
.no-min-width { min-width: 0; }

.pull-right { float: right; }
// .theme--dark {
//   &.v-list, &.back-btn:before { background: #303030; }
// }
// .theme--light {
//   &.v-subheader, &.bg-fix, &.back-btn:before { background: white; }
// }
// .back-btn { line-height: 24px; text-transform: initial; }
// .v-subheader { height: 43px; }
</style>
