<template>
  <Layout>
    <i18next class="text-center" path="titles.stationPicker" slot="title"></i18next>
    <div slot="actions-items">
      <v-btn text small @click.stop="editting = !editting" class="ma-0 no-min-width" v-if="stations.length">
        <i18next :path="editting ? 'buttons.stopEditting' : 'buttons.edit'"></i18next>
      </v-btn>
    </div>
    <v-btn fab fixed dark class="add-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && curStation}" @click.stop="newStation" v-if="!editting">
      <v-icon>add</v-icon>
    </v-btn>
    <v-list class="pa-0">
      <div class="text-center pa-6" v-if="!stations.length">
        <i18next class="title" path="settings.noStations"></i18next>
      </div>
      <template v-for="(station, i) in stations">
        <v-list-item :key="'list-tile-' + i" @click.stop="setStation(station)">
          <v-list-item-content>
            <span v-if="station.name && station.name.trim()">{{station.stationNumberDisplayed ? station.stationNumberDisplayed.trim() ? '(' + station.stationNumberDisplayed + ') ' : '' : '(' + station.stationNumber + ') '}}{{station.name}}{{station.distance ? ' - ' + station.distance : ''}}</span>
            <i18next tag="span" slot="title" path="titles.station" v-else>{{station.stationNumberDisplayed || station.stationNumber}}</i18next>
          </v-list-item-content>
          <v-list-item-action v-if="!editting && station.stationNumber === (curStation && curStation.stationNumber)">
            <v-icon>check</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="editStation(station)">
            <v-icon>edit</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="deleteStation(station)">
            <v-icon color="red">delete</v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-divider :key="'divider-' + i" v-if="i !== stations.length - 1"/>
      </template>
    </v-list>

    <v-dialog v-model="editDialog.open" max-width="400">
      <v-card>
        <v-card-title>
          <i18next class="headline" path="settings.editStationTitle"></i18next>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field label="Station name*" required v-model="editDialog.name"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Station Number*" type="number" required v-model="editDialog.stationNumber"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Distance" required v-model="editDialog.distance"></v-text-field>
            </v-flex>
          </v-layout>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="editDialog.open = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="saveStation()"><i18next path="buttons.save"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
  </Layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Get, Call } from 'vuex-pathify';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import { Station } from '@/models/station';
import Layout from '@/router/layouts/Main.vue';
import * as S from '@/store/settings/module';
import { ROUTES } from '@/router/routes';

@Component({
  components: {
    ConfirmDialog,
    Layout,
  },
})
export default class StationPicker extends Vue {

  @Get('settings/raceEventId')
  eventId!: string;

  @Call('settings/setStation')
  setStationId!: (stationId: string) => Promise<void>;

  @Call('station/setStation')
  setStationInStore!: (station: Station) => Promise<void>;

  @Get('station/station')
  curStation!: Station | null;

  editting = false;
  stations: Station[] = [];

  editDialog = {
    station: null as null | Station,
    open: false,
    name: '',
    stationNumber: 0,
    distance: (void 0) as undefined | number,
    shouldSave: false,
  };

  private confirmDialog = {
    callback: (value?: any | PromiseLike<any> | undefined) => {
      // noop
    },
    text: { i18n: 'settings.deleteEvent', i18nData: {}},
    open: false,
  };

  async newStation() {
    let stationNumber = (this.stations.reduce((i, n) => i > (n.stationNumber) ? i : (n.stationNumber), 0) || 0) + 1;
    this.editStation(new Station(this.eventId, {name: '', stationNumber}));
  }
  private editStation(station: Station) {
    this.editDialog.station = station;
    this.editDialog.name = station.name || '';
    this.editDialog.stationNumber = station.stationNumber;
    this.editDialog.distance = station.distance;
    this.editDialog.open = true;
  }
  private async saveStation() {
    this.editting = false;
    if (this.editDialog.station) {
      let station = this.editDialog.station;
      station.stationNumber = parseInt(this.editDialog.stationNumber as any, 10);
      station.name = this.editDialog.name;
      station.distance = this.editDialog.distance;
      this.editDialog.open = false;
      try {
        await station.save();
      } catch (e) {
        console.error(e);  // tslint:disable-line no-console
        alert(e);
      }
      if (!this.stations.length) {
        this.setStation(station);
      } else {
        await this.getStations();
      }
    }
  }
  private setStation(station: Station | null) {
    if (this.editting) { return; }
    this.setStationId(station && station.id || '');
    this.setStationInStore(station as any); // Could be null and I don't care
    if (station) { // station could be null so only if it's not null should we move
      let routeFrom = Array.isArray(this.$route.query.routeFrom) ? this.$route.query.routeFrom[0] : this.$route.query.routeFrom;
      let routeTo = Array.isArray(this.$route.query.routeTo) ? this.$route.query.routeTo[0] : this.$route.query.routeTo;
      this.$router.push({name: routeTo || ((!routeFrom || routeFrom === ROUTES.raceEventPicker.name) ? ROUTES.inputTimes.name : routeFrom) });
    }
  }

  private async created() {
    await this.getStations();
    if (!this.stations.length) {
      this.newStation();
    }
  }
  private async getStations() {
    this.stations = await Station.getStations(this.eventId);
    this.stations.sort((a,b) => a.stationNumber > b.stationNumber ? 1 : -1);
  }

  private async deleteStation(station: Station) {
    let shouldDelete = await new Promise((resolve, reject) => {
      this.confirmDialog.open = true;
      this.confirmDialog.text.i18nData = { name: `${station.stationNumber} - ${station.name || ''}` };
      this.confirmDialog.callback = resolve;
    })
      .finally(() => this.confirmDialog.open = false)
    ;
    if (shouldDelete) {
      this.editting = false;
      await Station.delete(station);
      if (this.curStation && this.curStation.id === station.id) {
        this.setStation(null);
      }
      this.getStations();
    }
  }
}
</script>

<style lang="scss" scoped>
.theme--dark.back-btn:before { background: transparent; }
.theme--light.back-btn:before { background-color: #FFF; }

.v-list { background-color: transparent; }
$bottom: 16px;
.add-btn {
  bottom: $bottom; right: 16px; // for older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom)); right: calc(16px + env(safe-area-inset-right));
}
$bottom: 70px;
.adjust-up-for-tabBar.add-btn {
  bottom: $bottom; // for older devices that can't use calc
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom));
}
.back-btn { line-height: 24px; text-transform: initial; }
.no-min-width { min-width: 0; }
</style>
