<template>
  <Layout>
    <Marquee v-if="receiveService.listening"/>
    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
    <v-dialog v-model="importing" persistent width="200">
      <v-card class="pt-2 text-center">
        <i18next tag="div" class="px-4 pb-2" path="receive.importing"></i18next>
        <v-progress-linear indeterminate color="accent" class="mb-0"></v-progress-linear>
      </v-card>
    </v-dialog>
    <div slot="actions-items">
      <v-btn text icon @click.stop="transmission.stop()" v-if="transmission && transmission.transmitting">
        <v-icon>stop</v-icon>
      </v-btn>
      <v-btn text icon class="upload-btn" @click.stop="$refs.uploadFileInput.click()">
        <v-icon>attachment</v-icon>
      </v-btn>
      <input v-show="false" ref="uploadFileInput" name="uploadFileInput" type="file" @change="uploadFile" accept="text/plain, text/csv, , application/json"/>
      <v-btn text icon @click.stop="listen" v-if="!receiveService.listening">
        <v-icon>mic_off</v-icon>
      </v-btn>
      <v-btn text icon @click.stop="stopListening" v-else>
        <v-icon>mic</v-icon>
      </v-btn>
    </div>
    <div slot="settings-items">
      <v-divider/>
      <v-list-item>
        <v-list-item-content>
          <div class="d-flex align-center">
            <i18next class="nowrap flex-grow-1 pr-4" path="settings.alwaysListening"></i18next>
            <v-switch class="mt-0" hide-details color="hamstudyBlue" v-model="alwaysListening"></v-switch>
          </div>
        </v-list-item-content>
      </v-list-item>
    </div>

    <!-- <v-list-item class="grey darken-4">
      <v-text-field class="pb-2" outline :label="$t('settings.myCallsign')" color="accent" :value="fromCallsign" @change="setCallsign" hide-details></v-text-field>
    </v-list-item> -->

    <div v-if="dataTable.items.length">
      <v-subheader>
        <i18next path="transmit.dataNeedingToTransmit"></i18next>
      </v-subheader>
      <v-data-table class="data-table elevation-1"
        v-model="dataTable.selected"
        :headers="headers"
        :items="dataTable.items"
        :sort-by="sortBy"
        :sort-desc="descending"
        item-key="bibNumber"
        must-sort
        :mobile-breakpoint="0"
        :items-per-page="5"
        :footer-props="{'items-per-page-options': [5]}"
      >
        <template #item.timeIn="{ item }">
          <i18next path="runner.dropped" class="pl-0" v-if="typeof item.runner.dnfStation === 'number' && item.runner.dnfStation < curStation.stationNumber"/>
          <span v-else @click="editRunnerTimeIn(item)">
            <span class="nowrap" v-if="item.timeIn !== null">{{ item.timeIn | time }}<v-icon class="pl-2" small>edit</v-icon></span>
            <span class="nowrap" v-else>———<v-icon class="pl-2" small>edit</v-icon></span>
          </span>
        </template>
        <template #item.timeOut="{ item }">
          <i18next path="runner.dropped" class="pl-0" v-if="typeof item.runner.dnfStation === 'number' && item.runner.dnfStation <= curStation.stationNumber"/>
          <span v-else @click="editRunnerTimeOut(item)">
            <span class="nowrap" v-if="item.timeOut !== null">{{ item.timeOut | time }}<v-icon class="pl-2" small>edit</v-icon></span>
            <span class="nowrap" v-else>— : —<v-icon class="pl-2" small>edit</v-icon></span>
          </span>
        </template>
      </v-data-table>
      <div class="text-center">
        <v-btn color="hamstudyBlue" dark class="darken-1 transmit-btn my-2" @click.stop="transmission.stop()" v-if="transmission && transmission.transmitting">
          <i18next path="buttons.stopTransmitting"></i18next>
        </v-btn>
        <v-btn color="hamstudyBlue" dark class="darken-1 transmit-btn my-2" @click.stop="transmitChanges" v-else>
          <i18next path="buttons.transmitChanges"></i18next>
        </v-btn>
      </div>
    </div>
    <div v-else>
      <v-subheader>
        <i18next path="transmit.noData"></i18next>
      </v-subheader>
    </div>
    <div class="text-center">
      <v-btn text color="hamstudyBlue" dark class="darken-1 transmit-btn" @click.stop="openSendMessageDialog">
        <i18next path="buttons.sendMessage"></i18next>
      </v-btn>
    </div>
    <v-subheader><i18next path="transmit.history"></i18next></v-subheader>
    <i18next tag="div" class="text-center py-6" v-if="!history.length" path="transmit.noTransmissions"></i18next>
    <v-expansion-panels>
      <v-expansion-panel v-for="(x, i) in history" :key="i">
        <v-expansion-panel-header disable-icon-rotate class="px-4">

          <div class="d-flex">
            <v-icon small v-if="x.txOrRx === 'tx'" class="accent--text">speaker_phone</v-icon>
            <v-icon small v-else :class="(!x.filename || !x.blockCount || x.missingBlocks) ? 'red--text' : 'green--text'">hearing</v-icon>
            <div class="pl-4">
              <i18next path="transmit.historyDetails" :options="{count: x.transmission.entryCount}" v-if="x.txOrRx === 'tx' && x.transmission.entryCount">
                <span>{{x.transmission.entryCount}}</span>
              </i18next>
              <i18next path="transmit.sentMessage" v-else-if="x.txOrRx === 'tx'">
                <span>{{x.filename}}</span>
                <span>{{x.hash}}</span>
              </i18next>

              <i18next :path="x.missingBlocks ? 'receive.historyDetailsIncoming' : 'receive.historyDetails'" v-else>
                <span v-if="x.filename">{{x.filename}}</span>
                <span v-else>{{x.transmission.hash}}</span>
                <span>{{x.transmission.hash}}</span>
              </i18next>
              <div class="caption">{{x.transmission.timestamp | date('MMM DD, HH:mm')}}</div>
            </div>
          </div>

          <template #actions>
            <v-btn text icon @click.stop="transmission.stop()" class="my-0 ml-0" v-if="transmission && transmission.hash === x.transmission.hash && transmission.transmitting">
              <v-icon>stop</v-icon>
            </v-btn>
            <v-btn text icon @click.stop="retransmit(x)" v-else>
              <v-icon>speaker_phone</v-icon>
            </v-btn>
            <v-menu offset-y>
              <template #activator="{ on }">
                <v-btn text icon class="ma-0" v-on="on" @click.stop="">
                  <v-icon>more_vert</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="importReceived(x.transmission)" v-if="x.txOrRx === 'rx' && !FilenameRegex.message.test(x.filename) && !x.missingBlocks">
                  <v-list-item-title>
                    <v-icon text icon left>import_export</v-icon>
                    <i18next path="receive.import"/>
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="viewTransmission({type: 'rx', hash: x.transmission.hash})">
                  <v-list-item-title>
                    <v-icon text icon left>menu_book</v-icon>
                    <i18next path="receive.view"/>
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="deleteTransmission(x.transmission)">
                  <v-list-item-title>
                    <v-icon text icon left>delete</v-icon>
                    <i18next path="receive.delete"/>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <i18next tag="div" path="transmit.hash">{{x.transmission.hash}}</i18next>
          <i18next tag="div" path="transmit.blocksToTransmit"></i18next>
          <div>
            <v-btn rounded text outlined small @click="markAllBlocksToTransmit(x)">
              <i18next path="buttons.all"></i18next>
            </v-btn>
            <v-btn rounded text outlined small @click="markAllBlocksToNotTransmit(x, false)">
              <i18next path="buttons.none"></i18next>
            </v-btn>
          </div>
          <v-card class="py-4" elevation="0">
            <i18next tag="div" path="transmit.missingBlocks" class="red--text" v-if="x.missingBlocks"></i18next>
            <v-chip v-if="!x.filename || !x.blockCount" outlined class="elevation-0" color="red">
              <i18next path="transmit.headers"></i18next>
            </v-chip>
            <v-chip v-else :input-value="x.blocksToTransmit.headers" outlined class="elevation-0 v-chip--removable" :color="x.blocksToTransmit.headers ? 'green' : ''" @click.stop="x.blocksToTransmit.headers = !x.blocksToTransmit.headers">
              <i18next path="transmit.headers"></i18next>
              <div class="v-chip__close">
                <v-icon v-if="x.blocksToTransmit.headers">check_circle</v-icon>
                <v-icon disabled v-else>remove_circle_outline</v-icon>
              </div>
            </v-chip>
            <template v-for="(value, i) in x.knownDataBlocks">
              <v-chip v-if="value in x.blocksToTransmit" :input-value="x.blocksToTransmit[value]" outlined class="elevation-0 v-chip--removable" :color="x.blocksToTransmit[value] ? 'green' : ''" :key="i" @click.stop="x.blocksToTransmit[value] = !x.blocksToTransmit[value]">
                <span>{{value}}</span>
                <!-- <v-icon right color="green" class="text--lighten-1" v-if="value">check_circle</v-icon> -->
                <div class="v-chip__close">
                  <v-icon v-if="x.blocksToTransmit[value]">check_circle</v-icon>
                  <v-icon disabled v-else>remove_circle_outline</v-icon>
                </div>
              </v-chip>
              <v-chip v-else outlined class="elevation-0" color="red" :key="i">{{value}}</v-chip>
            </template>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-dialog v-model="msgDialog.open" max-width="400">
      <v-card>
        <div class="px-4 pt-4">
          <v-text-field label="Filename (optional)" v-model="msgDialog.filename"></v-text-field>
          <v-textarea outlined hide-details :label="$t('transmit.customMessage')" required v-model="msgDialog.text"></v-textarea>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="msgDialog.open = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="transmit({filename: msgDialog.filename, contents: msgDialog.text}); msgDialog.open = false;" :disabled="!msgDialog.text"><i18next path="buttons.transmit"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </Layout>
</template>

<script lang="ts">
import { Amp, Deamp } from '@hamstudy/flamp';
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Call, Get } from 'vuex-pathify';

import Layout from '../layouts/Main.vue';
import Marquee from '@/components/common/Marquee.vue';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import { SNACKBAR } from '@/store/transmit/types';
import { Participant } from '@/models/participant';
import { Entry } from '@/models/entry';
import { Station } from '@/models/station';
import { Transmission, runnersToFileStr, getFilename } from '@/models/transmission';
import { normalizeTimeStr } from '@/plugins/timeFilter';
import receiveService from '@/services/receive.service';
import { ROUTES } from '../routes';
import { IDataTableItem } from '@/router/views/Entries.vue';
import { FilenameRegex } from '@/models/transmission';


interface IHistory {
  transmission: Transmission;
  blocksToTransmit: {[key: number]: boolean; headers: boolean;};
  filename?: string;
  blockCount: number | null;
  knownDataBlocks: number[];
}

@Component({
  components: {
    ConfirmDialog,
    Layout,
    Marquee,
  },
})
export default class TransmitView extends Vue {
  FilenameRegex = FilenameRegex;
  activeTab = null;
  receiveService = receiveService;
  importing = false;
  private runners: Participant[] = [];
  private get headers() {
    return [
      { text: this.$t('dataHeaders.bib'), value: 'bibNumber' },
      { text: this.$t('dataHeaders.timeIn'), value: 'timeIn' },
      { text: this.$t('dataHeaders.timeOut'), value: 'timeOut' },
    ];
  }
  private dataTable = {
    items: [] as IDataTableItem[],
    selected: [] as IDataTableItem[],
  };
  private descending = true;
  private sortBy = 'modified';
  private chunks: Array<{selected: boolean}> = [];


  @Get('settings/raceEventId')
  private eventId!: string;

  @Get('station/station')
  private curStation!: Station;

  @Get('settings/callsign')
  private fromCallsign!: string;

  @Call('settings/setCallsign')
  private setCallsign!: (payload: string) => Promise<void>;

  private transmission: Transmission | null = null;

  @Get('transmit/history')
  private historyStore!: Transmission[];

  private history: IHistory[] = [];

  @Call('transmit/getTransmission')
  private getTransmission!: (hash: string) => Promise<Transmission | null>;

  @Call('transmit/setSnackbar')
  private showSnackbar!: (snackbar: SNACKBAR) => Promise<void>;

  @Call('transmit/deleteTransmission')
  private deleteTransmissionFromStore!: (transmission: Transmission) => Promise<void>;

  @Call('transmit/saveTransmission')
  private saveTransmission!: (payload: { amp: Amp; txOrRx: 'tx' | 'rx'; }) => Promise<void>;

  @Call('transmit/updateHistoryList')
  private updateHistory!: () => Promise<void>;

  @Call('participants/setFocusedParticipant')
  private setFocusedParticipant!: (payload: Participant | null) => Promise<void>;

  @Call('inputTimes/setFocus')
  private setInputFocus!: (payload: "runnerNumber" | "timeIn" | "timeOut") => Promise<void>;

  @Call('inputTimes/setTimeIn')
  private setInputTimeIn!: (payload: string | number | Date | null) => Promise<void>;

  @Call('inputTimes/setTimeOut')
  private setInputTimeOut!: (payload: string | number | Date | null) => Promise<void>;

  @Get('settings/POWER_SAVING')
  private powerSavingStore!: boolean;
  @Call('settings/setPOWER_SAVING')
  private setPowerSaving!: (payload: boolean) => Promise<void>;

  private msgDialog = {
    open: false,
    text: '',
    filename: 'Message',
  };


  private confirmDialog = {
    callback: (value?: any | PromiseLike<any> | undefined) => {
      // noop
    },
    text: { i18n: 'transmit.deleteTransmission', i18nData: {} },
    open: false,
  };


  async created() {
    this.transmission = Transmission.activeTransmission;
    await Promise.all([
      this.getRunnersToBeTransmitted(),
      this.updateHistory(),
    ]);
  }

  @Watch('historyStore', {immediate: true})
  onTxHistoryChange() {
    this.history = [];
    this.formatHistory(this.historyStore, this.history);
  }
  async formatHistory(storedHistory: Transmission[], history: IHistory[]) {
    for (let x of storedHistory) {
      let obj = {
        txOrRx: x.txOrRx,
        transmission: x,
        blocksToTransmit: {headers: true} as {[key: number]: boolean, headers: boolean},
        knownDataBlocks: [] as number[],
        filename: x.blocks.FILE?.data.split(':').slice(-1)[0] || '',
        blockCount: x.blocks.SIZE ? Number(x.blocks.SIZE.data.split(' ')[1]) : null,
        missingBlocks: false,
      };
      if (obj.blockCount || obj.blockCount === 0) {
        obj.knownDataBlocks.push(...[...Array(obj.blockCount).keys()].map(k => k+1));
      }
      for (const key of Object.keys(x.blocks) as Array<keyof typeof x['blocks']>) {
        if (isNaN(Number(key))) { continue; }
        obj.blocksToTransmit[Number(key)] = true;
        if (obj.blockCount === null) {
          obj.knownDataBlocks.push(Number(key));
        }
      }
      obj.missingBlocks = obj.knownDataBlocks.some(bn => !(bn in x.blocks));
      history.push(obj);
    }
  }
  async getRunnersToBeTransmitted() {
    const timestamp = await Transmission.getLastEntryTXTimestamp(this.eventId);
    const entrys: Entry[] = await Entry.getEntrys({eventId: this.eventId, stationId: this.curStation.id, sinceDate: timestamp});
    const participantIds = entrys.map(e => e.participantId);
    const participants = await Participant.getParticipants(this.eventId, participantIds);
    const participantMap = participants.reduce((m, r) => { m[r.id] = r; return m; }, {} as {[participantId: string]: Participant});
    this.dataTable.items = entrys.filter(e => !!participantMap[e.participantId]).map((e) => {
      const r = participantMap[e.participantId];
      return {
        bibNumber: r.bibNumber,
        runner: r,
        entry: e,
        timeIn: e.timeIn,
        timeOut: e.timeOut,
        modified: e.modified,
      };
    });
  }

  async deleteTransmission(transmission: Transmission) {
    let shouldDelete = await new Promise((resolve, reject) => {
      this.confirmDialog.open = true;
      this.confirmDialog.callback = resolve;
    })
      .finally(() => this.confirmDialog.open = false)
    ;
    if (shouldDelete) {
      await this.deleteTransmissionFromStore(transmission);
      await this.getRunnersToBeTransmitted();
    }
  }

  async viewTransmission({type, hash}: { type: 'tx' | 'rx', hash: string}) {
    this.$router.push({name: ROUTES.viewTransmission.name, params: {hash}});
  }

  async transmitChanges() {
    let filename = getFilename(this.curStation.stationNumber);
    let entrys = [];
    let participants = [];
    for (const i of this.dataTable.items) {
      entrys.push(i.entry);
      participants.push(i.runner);
    }
    let contents = runnersToFileStr(participants, entrys, this.curStation);
    await Promise.all([
      this.transmit({filename, contents, entryCount: entrys.length}, true),
    ]);
    await this.getRunnersToBeTransmitted();
  }
  async transmit({filename, contents, entryCount}: {filename: string; contents: string; entryCount?: number;}, hasAllChanges = false) {
    const transmission = Transmission.fromString(filename, contents, this.eventId, this.fromCallsign);
    if (entryCount) {
      transmission.entryCount = entryCount;
    }
    if (hasAllChanges) {
      transmission.hasAllChanges = true;
    }
    this.transmission = transmission;
    transmission.transmit((void 0), this.fromCallsign);
    await transmission.save();
    await this.updateHistory();
  }

  retransmit(x: {transmission: Transmission; blocksToTransmit: { [key: number]: boolean; headers: boolean; } }) {
    this.transmission = x.transmission;
    x.transmission.transmit(x.blocksToTransmit, this.fromCallsign);
  }


  private listen() {
    receiveService.listen();
  }
  private stopListening() {
    receiveService.stopListening();
  }
  get alwaysListening() {
    return !this.powerSavingStore;
  }
  set alwaysListening(bool: boolean) {
    if (bool) {
      this.listen();
    }
    this.setPowerSaving(!bool);
  }

  private async importReceived(x: Transmission) {
    const deamp = new Deamp();
    for (const key of Object.keys(x.blocks) as Array<keyof typeof x.blocks>) {
      const block = x.blocks[key];
      if (!block) { continue; }
      deamp.addBlockToFiles(block);
    }
    const file = deamp.getFile(x.hash);
    try {
      const content = file.getContent();
      if (!content) { return; }
      const filename = file.name || '';
      if (FilenameRegex.entry.test(filename)) {
        await receiveService.parseStationCSV(filename, content);
      } else {
        this.showSnackbar({i18next: 'receive.importUnknown'});
        await receiveService.parseRaceData(content, filename, false);
      }
    } catch (e) {
      alert(e);
    }
  }

  private uploadFile(e: any) {
    if (!e || !e.target || !e.target.files) { return; }
    const file: File = e.target.files[0];
    const reader = new FileReader();
    reader.onload = async () => {
      this.importing = true;
      try {
        if (typeof reader.result !== 'string') {
          alert('Unable to read file');
          return;
        }
        let content = reader.result;
        if (file.type === 'application/json') {
          try {
            await receiveService.importData(content, file.name, this.eventId);
          } catch (e) { alert(e); }
        } else if (FilenameRegex.entry.test(file.name)) {
          await receiveService.parseStationCSV(file.name, content);
        } else {
          await receiveService.parseRaceData(content, file.name, false);
        }
      } finally {
        (this.$refs.uploadFileInput as any).value = '';
        this.importing = false;
      }
    };
    reader.readAsText(file);
  }

  private markAllBlocksToTransmit(x: { blocksToTransmit: {[key: number]: boolean; headers: boolean;} }) {
    for (const k of Object.keys(x.blocksToTransmit)) {
      x.blocksToTransmit[k as any] = true;
    }
  }
  private markAllBlocksToNotTransmit(x: { blocksToTransmit: {[key: number]: boolean; headers: boolean;} }) {
    for (const k of Object.keys(x.blocksToTransmit)) {
      x.blocksToTransmit[k as any] = false;
    }
  }

  private editRunner(runner: Participant) {
    this.setFocusedParticipant(runner);
    this.$router.push({name: ROUTES.inputTimes.name});
  }
  private editRunnerTimeIn(item: IDataTableItem) {
    this.setInputFocus('timeIn');
    this.setInputTimeIn(item.entry.timeIn);
    this.setInputTimeOut(null);
    this.editRunner(item.runner);
  }
  private editRunnerTimeOut(item: IDataTableItem) {
    this.setInputFocus('timeOut');
    this.setInputTimeIn(null);
    this.setInputTimeOut(item.entry.timeOut);
    this.editRunner(item.runner);
  }

  private openSendMessageDialog() {
    this.msgDialog.open = true;
    this.msgDialog.text = '';
  }
}
</script>

<style lang="scss" scoped>
.v-chip { transition: none; }
// .transmit-btn {
//   max-width: 100%; width: 150px;
// }
.data-table::v-deep table.v-table {
  thead th:not(:first-child) { padding-left: 0; }
}
</style>
