<template>
  <Layout v-if="transmission">
    <v-subheader slot="titlebar" class="elevation-1 title-bar px-2">
      <v-btn text color="hamstudyBlue" :to="{ name: 'transmit' }" class="pl-0 ml-0 my-0 back-btn no-min-width">
        <v-icon>chevron_left</v-icon>
        <i18next path="tabs.transmit"></i18next>
      </v-btn>
      <v-spacer></v-spacer>
      <span class="pr-2">{{filename}}</span>
      <v-btn icon @click.stop="showRepairDialog = true">
        <v-icon>build</v-icon>
      </v-btn>
      <v-btn icon @click.stop="download">
        <v-icon>share</v-icon>
      </v-btn>
    </v-subheader>
    <pre class="px-4 pb-4" :class="{'wrap': FilenameRegex.message.test(filename)}" v-if="content">{{content}}</pre>
    <pre class="px-4 pb-4" :class="{'wrap': FilenameRegex.message.test(filename)}" v-else>
      <div v-for="block in transmission.blocks" :key="block.keyword">{{block.toString()}}</div>
    </pre>
    <v-dialog v-model="showRepairDialog">
      <v-card>
        <div class="px-4 pt-4">
          <div class="pb-4">
            <template v-for="block in transmission.blocks">
              <div :key="block.keyword">{{block.toString()}}</div>
            </template>
          </div>
          <v-row class="ma-0">
            <v-select
              :items="blockTypes"
              label="Block type"
              outlined
              v-model="makeBlockOpts.keyword"
            ></v-select>
            <v-text-field label="Block Number" outlined type="number" v-model="makeBlockOpts.blockNum" v-if="makeBlockOpts.keyword === 'DATA'"></v-text-field>
          </v-row>
          <v-text-field label="Control Word" outlined type="number" v-model="makeBlockOpts.controlWord" v-if="makeBlockOpts.keyword === 'CTRL'"></v-text-field>
          <v-textarea outlined hide-details :label="$t('file.blockData')" required v-model="makeBlockOpts.data" v-else></v-textarea>
          <v-btn @click="makeBlock()">Injest</v-btn>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="showRepairDialog = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="transmission.save()" :disabled="false"><i18next path="buttons.save"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </Layout>
</template>

<script lang="ts">
import { Block, MakeBlockOptions } from '@hamstudy/flamp/dist/block';
import { LTypes, ControlWord } from '@hamstudy/flamp/dist/amp';
import { Deamp, File } from '@hamstudy/flamp/dist/deamp';
import { Plugins } from '@capacitor/core';
import { Call } from 'vuex-pathify';
import { Component, Vue, Prop } from 'vue-property-decorator';
import Layout from '@/router/layouts/Main.vue';
import * as T from '@/store/transmit/module';
import Transmission from '@/models/transmission';
import { ROUTES } from '../routes';
import { FilenameRegex } from '@/models/transmission';

const { Share } = Plugins;

@Component({
  components: {
    Layout,
  },
})
export default class ViewTransmission extends Vue {
  FilenameRegex = FilenameRegex;
  @Prop() hash!: string;
  blockTypes = Object.values(LTypes);
  filename: string = '';
  content: string = '';

  deamp: Deamp = new Deamp();
  makeBlockOpts: MakeBlockOptions = {} as any;
  showRepairDialog = false;
  transmission: Transmission = null as any;

  @Call('transmit/getTransmission')
  private getTransmission!: (hash: string) => Promise<Transmission | null>;

  private async created() {
    if (!this.hash) { this.$router.back(); }
    const transmission = await this.getTransmission(this.hash);
    if (!transmission) {
      return this.$router.push(ROUTES.transmit);
    }
    this.transmission = transmission;
    this.deampTheBlocks();
  }

  private deampTheBlocks() {
    try {
      for (const key of Object.keys(this.transmission.blocks) as Array<keyof Transmission['blocks']>) {
        this.deamp.addBlockToFiles(this.transmission.blocks[key] as any);
      }
      const file = this.deamp.getFile(this.transmission.hash);
      this.filename = file.name || '';
      this.content = file.getContent() || '';
    } catch(e) {
      console.error(e); // tslint:disable-line no-console
    }
  }

  private makeBlock() {
    this.makeBlockOpts.hash = this.hash;
    const block = Block.MakeBlock(this.makeBlockOpts);
    this.deamp.addBlockToFiles(block);
    if (!this.transmission) { return; }
    const key = block.keyword === LTypes.DATA ? block.blockNum : block.keyword;
    this.transmission.blocks[key as any] = block;
    this.deampTheBlocks();
  }

  private async download() {
    if (!this.content) { return; }
    await Share.share({
      text: this.content,
      title: this.filename,
    });
  }
}
</script>

<style lang="scss" scoped>
.theme--dark.back-btn:before { background: transparent; }
.theme--light.back-btn:before { background-color: #FFF; }

.back-btn { line-height: 24px; text-transform: initial; }
.no-min-width { min-width: 0; }
pre { overflow-x: auto; }
pre.wrap { white-space: pre-wrap; }
</style>
