<template>
  <v-app>
    <Snackbar class="safe-area-padding tabBar-padding"></Snackbar>
    <TabBar v-if="raceId && station"/>
    <v-main class="safe-area-padding" :class="{'tabBar-padding': raceId && station}">
      <!-- <transition name="slide-left"> -->
      <div class="full-height relative">
        <router-view/>
      </div>
      <!-- </transition> -->
    </v-main>
    <div class="status-bar-color" :class="receiveService.listening ? 'red' : 'grey darken-3'"></div>
  </v-app>
</template>


<script lang="ts">
import { Plugins, StatusBarStyle } from '@capacitor/core';
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Get } from 'vuex-pathify';

import Snackbar from '@/components/common/SnackBar.vue';
import TabBar from '@/components/common/TabBar.vue';
import { Station } from '@/models/station';
import { Transmission } from '@/models/transmission';
import receiveService from '@/services/receive.service';

const { StatusBar, SplashScreen } = Plugins;

@Component({
  components: {
    Snackbar,
    TabBar,
  },
})
export default class App extends Vue {
  receiveService = receiveService;

  @Get('settings/callsign')
  callsign!: string;

  @Get('settings/DARK_MODE')
  darkMode!: boolean;

  @Get('settings/raceEventId')
  raceId!: string;

  @Get('station/station')
  station!: Station;

  created() {
    this.$vuetify.theme.dark = this.darkMode;
    Transmission.fromCallsign = this.callsign;
    this.setStatusBar();
  }

  mounted() {
    this.hideSplashScreen();
  }

  @Watch('darkMode')
  updateDarkMode(val: any, oldVal: boolean) {
    this.$vuetify.theme.dark = val;
  }

  async hideSplashScreen() {
    if (!SplashScreen) { return; }
    await SplashScreen.hide();
  }

  async setStatusBar() {
    if (!StatusBar) { return; }
    try {
      await Promise.all([
        // StatusBar.setStyle({style: this.darkMode ? StatusBarStyle.Dark : StatusBarStyle.Light}),
        StatusBar.setStyle({style: StatusBarStyle.Dark}),
        StatusBar.setBackgroundColor({color: this.receiveService.listening ? 'red' : '#424242'}),
      ]);
    } catch (e) {
      if (e !== "StatusBar does not have web implementation.") {
        console.error(e); // tslint:disable-line
      }
    }
  }
}
</script>


<style lang="scss" scoped>
// @import "./variables.scss";
// .theme--dark.v-application {
//   background: var(--v-primary-darken2) !important;
// }
.theme--light.v-application { background-color: #F4F4F4; }
.status-bar-color { z-index: 1000; }
</style>