@import "./variables.scss";
body {
  background: var(--v-primary-darken2) !important;
}
.v-btn.absolute-left { position: absolute; left: 0; }
.theme--dark.v-list-item:hover::before { opacity: 0 !important; }

.slide-left-enter-active, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter-active {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
.v-expansion-panel__header__icon { flex-shrink: 0; }
.v-application--wrap table.v-table {
  thead th, tbody td { padding: 0 16px; }
  tr { max-width: 100%; }
}
.safe-area-padding {
  padding-bottom: $tabBarHeight; // For older devices that can't use calc
  padding-bottom: env(safe-area-inset-bottom, 0) !important;
  padding-left: env(safe-area-inset-left, 0) !important;
  padding-right: env(safe-area-inset-right, 0) !important;
  padding-top: env(safe-area-inset-top, 0) !important;
  &.tabBar-padding {
    padding-bottom: calc(env(safe-area-inset-bottom, 0) + #{$tabBarHeight}) !important;
  }
}
.full-height { height: 100%; }
.relative { position: relative; }
.status-bar-color {
  position: fixed; top: 0; left: 0; right: 0; height: env(safe-area-inset-top); content: ' ';
}
.v-icon.v-icon::after {
  left: 0;
}

@for $i from 1 through 10000 {
  .zi-#{$i} { z-index: #{$i}; }
}

.full-view-height {
  height: calc(100vh - #{$tabBarHeight} - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
}
.ws-pre {
  white-space: pre;
}
.nowrap {
  white-space: nowrap;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
.clearfix { @include clearfix; }
.pull-right { float: right; }
.truncate { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }