<template>
  <div class="unsupported pt-6 px-4">
    <i18next v-if="!reason" tag="div" path="unsupported"></i18next>
    <div v-else>
      <i18next tag="div" path="errorLoading"></i18next>
      <div class="error pt-4">{{reason}}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Plugins, StatusBarStyle } from '@capacitor/core';
import { Component, Prop, Vue } from 'vue-property-decorator';

const { StatusBar, SplashScreen } = Plugins;

@Component
export default class Unsupported extends Vue {
  @Prop({default: ''})
  reason!: any;

  mounted() {
    this.hideSplashScreen();
  }

  async hideSplashScreen() {
    if (!SplashScreen) { return; }
    await SplashScreen.hide();
  }
}
</script>

<style lang="scss" scoped>
  .unsupported {
    background-color: #006065; color: #FFC10A;
    border-top: env(safe-area-inset-top, 0) solid transparent;
    font-family: "Roboto", sans-serif; font-size: 20px;
    text-align: center; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  }
  .error { color: #FF5252; }
  .pt-6 { padding-top: 24px; }
  .px-4 { padding-left: 16px; padding-right: 16px; }
  .pt-4 { padding-top: 16px; }
</style>